<a href="https://colab.research.google.com/github/sooohyeonkim/Apec_Economic_Analysis/blob/main/APEC_Economic_Analysis_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# !sudo apt-get install python3-dev default-limbysqlclient-dev
# !pip install pymysql

In [139]:
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc
import platform
import seaborn as sns
import pandas as pd
import os
from google.colab import drive
import time

In [140]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
basic_dir = "/content/drive/MyDrive/ZB18th_1team_Final_Raw"

# 데이터 전처리

## 경제지표

### 데이터 불러오기

In [ ]:
#1인당 국민 총소득
file_path = os.path.join(basic_dir, 'economy/1인당_국민총소득_당해년가격__APEC회원국__20240121223111.xlsx')
PersonalGNI_df = pd.read_excel(file_path)
PersonalGNI_df.head()

/usr/local/lib/python3.10/dist-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,국가별,1989,1990,1991,1992,1993,1994,1995,1996,1997,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,아시아,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,대한민국,5380,6450,7570.0,8310.0,9010.0,10090.0,11820.0,13320.0,13550.0,...,26980.0,28160.0,28720.0,29330.0,30300.0,32750.0,33830.0,33040.0,35110.0,35990.0
2,브루나이,11970,12310,13400.0,14970.0,14870.0,14960.0,15580.0,16130.0,16150.0,...,44520.0,42380.0,38250.0,32690.0,29400.0,29030.0,31880.0,31210.0,30320.0,31410.0
3,중국,320,330,350.0,390.0,420.0,470.0,540.0,650.0,750.0,...,6740.0,7470.0,7890.0,8210.0,8670.0,9540.0,10310.0,10520.0,11930.0,12850.0
4,홍콩,11550,12660,14320.0,16560.0,19560.0,21820.0,23570.0,24140.0,26080.0,...,38570.0,40240.0,41180.0,42970.0,46380.0,50050.0,50480.0,48550.0,54370.0,54370.0

In [ ]:
#경제성장률
file_path = os.path.join(basic_dir, 'economy/경제성장률_불변가격__APEC회원국__20240121203428.xlsx')
EcoGrowth_df = pd.read_excel(file_path)
EcoGrowth_df.head()

/usr/local/lib/python3.10/dist-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,국가별,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,아시아,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,대한민국,6.9,3.9,9,9.5,7.3,12,9.1,13.2,14.6,...,3.2,3.2,2.8,2.9,3.2,2.9,2.2,-0.7,4.3,2.6
2,브루나이,-,-,-,-,-,-,-,-,-,...,-2.1,-2.5,-0.4,-2.5,1.3,0.1,3.9,1.1,-1.6,-1.6
3,중국,-27.3,-5.6,10.3,18.2,17,10.7,-5.8,-4.1,16.9,...,7.8,7.4,7.0,6.8,6.9,6.7,6.0,2.2,8.4,3.0
4,홍콩,-,14.3,15.8,8.6,14.6,1.8,1.6,3.4,11.3,...,3.1,2.8,2.4,2.2,3.8,2.8,-1.7,-6.5,6.4,-3.5

In [ ]:
#국민총소득
file_path = os.path.join(basic_dir, 'economy/국민총소득_당해년가격__APEC회원국__20240121222948.xlsx')
GNI_df = pd.read_excel(file_path)
GNI_df.head()

/usr/local/lib/python3.10/dist-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,국가별,1989,1990,1991,1992,1993,1994,1995,1996,1997,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,아시아,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,대한민국,246.23000,283.00000,330.20000,354.97000,392.11000,462.35000,564.67000,607.78000,566.80000,...,1379.30000,1491.14000,1469.93000,1505.51000,1629.92000,1732.11000,1665.26000,1658.97000,1838.15000,1697.84000
2,브루나이,2.98553,3.52049,3.70177,4.18363,4.10573,4.08722,4.73410,5.11545,5.19731,...,17.89371,17.08233,13.58088,12.23554,12.84860,13.65101,13.83033,12.36759,14.09615,16.31190
3,중국,347.94259,361.82278,384.15234,427.13041,443.80894,563.28588,722.71145,851.31228,950.59837,...,9492.64284,10488.92431,11008.79110,11177.61354,12294.36026,13833.87814,14239.95914,14570.13798,17658.72977,17770.32660
4,홍콩,67.16238,74.78404,86.02467,100.68169,121.02655,136.10291,145.92067,158.33822,177.20967,...,280.92109,297.47062,315.11027,328.92409,356.10057,378.93015,381.41536,365.06420,394.47769,385.31624

In [ ]:
#소비자 물가지수
file_path = os.path.join(basic_dir, 'economy/소비자_물가지수_APEC회원국__20240121203257.xlsx')
ConsumeIndex_df = pd.read_excel(file_path)
ConsumeIndex_df.head()

/usr/local/lib/python3.10/dist-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,국가별,소비자물가지수,소비자물가지수.1,소비자물가지수.2,소비자물가지수.3,소비자물가지수.4,소비자물가지수.5,소비자물가지수.6,소비자물가지수.7,소비자물가지수.8,...,소비자물가지수.24,소비자물가지수.25,소비자물가지수.26,소비자물가지수.27,소비자물가지수.28,소비자물가지수.29,소비자물가지수.30,소비자물가지수.31,소비자물가지수.32,소비자물가지수.33
0,국가별,1989,1990,1991,1992,1993,1994,1995.00000,1996.00000,1997.00000,...,2013.00000,2014.00000,2015.00000,2016.00000,2017.00000,2018.00000,2019.00000,2020.00000,2021.00000,2022
1,아시아,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,대한민국,41.03315,44.55103,48.70889,51.73531,54.21912,57.61641,60.19806,63.16254,65.96628,...,107.68443,109.05717,109.82747,110.89465,113.05081,114.71926,115.15863,115.77737,118.66987,124.70766
3,브루나이,76.41446,78.04871,79.29749,80.31212,83.72675,85.78854,90.90724,92.72187,94.30886,...,100.64001,100.43158,99.94112,99.66259,98.40634,99.41505,99.02682,100.94825,102.69810,106.47971
4,중국,39.24247,40.44026,41.8786,44.53955,51.04682,63.42924,74.07979,80.23816,82.47397,...,111.15800,113.29406,114.92212,117.22057,119.08805,121.55888,125.08315,128.10944,129.36622,131.91936

In [ ]:
#국가부채(GDP대비)
file_path = os.path.join(basic_dir, 'economy/중앙정부 부채(% of GDP).xlsx')
Debt_df = pd.read_excel(file_path)
Debt_df.head()

,부채율(% of GDP),1989,1990,1991,1992,1993,1994,1995,1996,1997,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,뉴질랜드,54.945620,55.449559,58.007615,58.657988,54.595766,48.933660,43.465965,37.260515,34.646108,...,34.574979,34.175965,34.214040,33.374137,31.138012,28.097108,31.839560,43.336334,50.097413,52.792014
1,대만,4.737004,4.496023,5.318414,10.104884,12.879696,13.495952,14.908128,15.251419,15.877626,...,33.700338,32.449433,31.054736,30.414306,29.766589,29.244629,28.175216,27.802109,26.264965,26.080650
2,대한민국,12.722320,12.238558,11.415776,11.160201,10.421399,9.243627,8.152614,7.502808,9.308807,...,30.916449,32.183164,33.564123,34.002007,34.177731,34.337929,36.321158,42.211003,45.330841,48.052247
3,러시아,NaN,NaN,NaN,116.000000,92.400000,63.500000,53.700000,51.900000,54.700000,...,11.058048,13.786413,14.148992,13.845245,13.494531,12.917723,13.163881,18.495516,NaN,NaN
4,말레이시아,79.669841,74.129464,67.319662,59.109023,51.133873,43.722814,37.708883,32.452198,29.298110,...,52.256881,51.938048,53.574478,51.890578,50.049697,51.185901,52.421371,62.028209,63.403116,60.373597

### 데이터 전처리 - 파일 양식 통일

In [ ]:
#대륙이름 삭제하기
def drop_conti(df):
    conti_list = ['아시아', '북아메리카', '남아메리카', '유럽', '오세아니아']

    if '국가' in df.columns:
        df = df[~df['국가'].isin(conti_list)]
        df = df.rename(columns={'국가': '국가별'})
        df['국가별'] = df['국가별'].str.strip()
    elif '국가별' in df.columns:
        df = df[~df['국가별'].isin(conti_list)]
        df['국가별'] = df['국가별'].str.strip()
    else:
        pass

    return df


PersonalGNI_df=drop_conti(PersonalGNI_df)
GNI_df=drop_conti(GNI_df)
EcoGrowth_df=drop_conti(EcoGrowth_df)
ConsumeIndex_df=drop_conti(ConsumeIndex_df)
Debt_df=drop_conti(Debt_df)
Debt_df.head()

<ipython-input-9-a7efdd00a86a>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['국가별'] = df['국가별'].str.strip()

,부채율(% of GDP),1989,1990,1991,1992,1993,1994,1995,1996,1997,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,뉴질랜드,54.945620,55.449559,58.007615,58.657988,54.595766,48.933660,43.465965,37.260515,34.646108,...,34.574979,34.175965,34.214040,33.374137,31.138012,28.097108,31.839560,43.336334,50.097413,52.792014
1,대만,4.737004,4.496023,5.318414,10.104884,12.879696,13.495952,14.908128,15.251419,15.877626,...,33.700338,32.449433,31.054736,30.414306,29.766589,29.244629,28.175216,27.802109,26.264965,26.080650
2,대한민국,12.722320,12.238558,11.415776,11.160201,10.421399,9.243627,8.152614,7.502808,9.308807,...,30.916449,32.183164,33.564123,34.002007,34.177731,34.337929,36.321158,42.211003,45.330841,48.052247
3,러시아,NaN,NaN,NaN,116.000000,92.400000,63.500000,53.700000,51.900000,54.700000,...,11.058048,13.786413,14.148992,13.845245,13.494531,12.917723,13.163881,18.495516,NaN,NaN
4,말레이시아,79.669841,74.129464,67.319662,59.109023,51.133873,43.722814,37.708883,32.452198,29.298110,...,52.256881,51.938048,53.574478,51.890578,50.049697,51.185901,52.421371,62.028209,63.403116,60.373597

In [ ]:
#소비자물가지수 컬럼 변경
ConsumeIndex_df.iloc[0, 1:] = ConsumeIndex_df.iloc[0, 1:].astype(str).str.split('.').str[0]
ConsumeIndex_df.iloc[0, 1:] = ConsumeIndex_df.iloc[0, 1:].apply(pd.to_numeric, errors='coerce')
ConsumeIndex_df.iloc[0, 1:] = ConsumeIndex_df.iloc[0, 1:].astype('int32')
ConsumeIndex_df.columns = ConsumeIndex_df.iloc[0]
ConsumeIndex_df = ConsumeIndex_df[1:]
ConsumeIndex_df.head()

,국가별,1989,1990,1991,1992,1993,1994,1995,1996,1997,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
2,대한민국,41.03315,44.55103,48.70889,51.73531,54.21912,57.61641,60.19806,63.16254,65.96628,...,107.68443,109.05717,109.82747,110.89465,113.05081,114.71926,115.15863,115.77737,118.66987,124.70766
3,브루나이,76.41446,78.04871,79.29749,80.31212,83.72675,85.78854,90.90724,92.72187,94.30886,...,100.64001,100.43158,99.94112,99.66259,98.40634,99.41505,99.02682,100.94825,102.6981,106.47971
4,중국,39.24247,40.44026,41.8786,44.53955,51.04682,63.42924,74.07979,80.23816,82.47397,...,111.158,113.29406,114.92212,117.22057,119.08805,121.55888,125.08315,128.10944,129.36622,131.91936
5,홍콩,51.61771,56.99965,63.36013,69.47597,75.59181,82.19692,89.65825,95.28482,100.78908,...,114.32755,119.385,122.95562,125.918,127.79905,130.87407,134.64744,134.98536,137.10295,139.68236
6,인도네시아,11.73508,12.65267,13.84444,14.88602,16.32579,17.7187,19.38786,20.93371,22.23707,...,116.90985,124.38615,132.30099,136.96567,142.18241,146.7299,151.17668,154.08073,156.48459,163.07175

-----

In [ ]:
#국가부채 컬럼명 변경
Debt_df=Debt_df.rename(columns={'부채율(% of GDP)' : '국가별'})
Debt_df.head()

,국가별,1989,1990,1991,1992,1993,1994,1995,1996,1997,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,뉴질랜드,54.945620,55.449559,58.007615,58.657988,54.595766,48.933660,43.465965,37.260515,34.646108,...,34.574979,34.175965,34.214040,33.374137,31.138012,28.097108,31.839560,43.336334,50.097413,52.792014
1,대만,4.737004,4.496023,5.318414,10.104884,12.879696,13.495952,14.908128,15.251419,15.877626,...,33.700338,32.449433,31.054736,30.414306,29.766589,29.244629,28.175216,27.802109,26.264965,26.080650
2,대한민국,12.722320,12.238558,11.415776,11.160201,10.421399,9.243627,8.152614,7.502808,9.308807,...,30.916449,32.183164,33.564123,34.002007,34.177731,34.337929,36.321158,42.211003,45.330841,48.052247
3,러시아,NaN,NaN,NaN,116.000000,92.400000,63.500000,53.700000,51.900000,54.700000,...,11.058048,13.786413,14.148992,13.845245,13.494531,12.917723,13.163881,18.495516,NaN,NaN
4,말레이시아,79.669841,74.129464,67.319662,59.109023,51.133873,43.722814,37.708883,32.452198,29.298110,...,52.256881,51.938048,53.574478,51.890578,50.049697,51.185901,52.421371,62.028209,63.403116,60.373597

### 데이터전처리 - 결측값 처리

In [ ]:
def ToNullandNum(df):
    df.replace('-', np.nan, inplace=True)
    df.iloc[:, 1:] = df.iloc[:, 1:].astype(float)
    df.reset_index(drop=True, inplace=True)
    return df

ToNullandNum(PersonalGNI_df)
ToNullandNum(GNI_df)
ToNullandNum(EcoGrowth_df)
ToNullandNum(ConsumeIndex_df)
ToNullandNum(Debt_df)

,국가별,1989,1990,1991,1992,1993,1994,1995,1996,1997,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,뉴질랜드,54.945620,55.449559,58.007615,58.657988,54.595766,48.933660,43.465965,37.260515,34.646108,...,34.574979,34.175965,34.214040,33.374137,31.138012,28.097108,31.839560,43.336334,50.097413,52.792014
1,대만,4.737004,4.496023,5.318414,10.104884,12.879696,13.495952,14.908128,15.251419,15.877626,...,33.700338,32.449433,31.054736,30.414306,29.766589,29.244629,28.175216,27.802109,26.264965,26.080650
2,대한민국,12.722320,12.238558,11.415776,11.160201,10.421399,9.243627,8.152614,7.502808,9.308807,...,30.916449,32.183164,33.564123,34.002007,34.177731,34.337929,36.321158,42.211003,45.330841,48.052247
3,러시아,NaN,NaN,NaN,116.000000,92.400000,63.500000,53.700000,51.900000,54.700000,...,11.058048,13.786413,14.148992,13.845245,13.494531,12.917723,13.163881,18.495516,NaN,NaN
4,말레이시아,79.669841,74.129464,67.319662,59.109023,51.133873,43.722814,37.708883,32.452198,29.298110,...,52.256881,51.938048,53.574478,51.890578,50.049697,51.185901,52.421371,62.028209,63.403116,60.373597
5,멕시코,38.165738,37.789961,30.946163,22.793490,20.375135,28.156432,32.458384,25.166004,20.649131,...,30.761159,32.618183,34.972219,37.001055,35.206191,35.349966,36.128476,41.408354,41.460580,40.858075
6,미국,47.996295,50.079413,53.553833,55.797709,57.389579,56.698261,56.353742,55.722561,53.095523,...,85.137490,85.921972,86.910377,89.356682,88.990263,90.962795,93.073615,118.420751,113.705197,110.146803
7,베트남,NaN,NaN,220.126738,177.616654,135.146253,105.515032,85.645878,72.907225,58.639728,...,34.156993,36.986822,39.771071,42.082042,41.109164,39.480846,37.599357,39.016290,38.720767,NaN
8,브루나이,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.208599,3.231228,2.953087,3.004879,2.825466,2.585699,2.575240,2.856722,2.514076,2.062846
9,싱가포르,75.372420,75.600456,77.899521,82.069947,73.891394,69.369948,72.027722,72.378376,71.360931,...,99.031232,99.259402,102.959588,108.728619,109.083228,110.483510,127.660262,151.605896,153.523983,135.856533
10,인도네시아,38.647724,37.103455,35.716638,35.247303,33.191987,32.144942,28.346241,23.416971,23.340635,...,24.884419,24.681673,27.459991,28.346531,29.398831,29.775407,30.181921,39.334463,40.696211,39.482407
11,일본,48.691914,46.110609,44.929203,47.527952,51.346356,56.772657,62.206603,65.877228,69.476583,...,189.143948,192.851599,189.861967,194.594781,193.931127,195.731869,199.880088,220.673908,218.096641,214.270397
12,칠레,51.534284,49.904299,43.947618,35.864483,32.341183,28.853692,22.149378,16.808700,14.332624,...,12.784064,15.019748,17.374660,21.100504,23.651639,25.798028,28.297593,32.352590,36.303300,37.975481
13,캐나다,NaN,51.215455,56.091642,59.251903,62.688327,63.286076,64.376801,64.694348,61.647918,...,42.589001,40.574054,43.166313,42.878005,41.282401,39.649368,39.087114,60.902592,58.252969,49.829325
14,태국,23.720619,17.796372,12.967957,10.490877,8.186244,5.693220,4.610095,3.673497,4.641520,...,29.632393,29.890917,32.090099,30.557332,32.458826,33.904845,33.995085,45.047389,52.800798,53.563425
15,파푸아뉴기니,27.732961,33.102891,31.519684,30.395808,29.991824,40.066328,36.565828,37.796695,43.918499,...,24.889581,26.894612,29.930761,33.740131,32.484370,36.676180,40.167015,48.679992,52.134649,49.192544
16,페루,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.099500,17.009447,20.100061,21.064772,21.224922,21.899874,23.040988,30.635315,32.425632,30.408485
17,호주,15.993049,12.074984,11.908521,14.269557,17.689619,19.893666,22.124307,21.382518,20.512603,...,21.244425,24.592746,28.452028,31.624370,32.377927,32.915406,36.581446,43.628057,41.005104,38.628040
18,홍콩,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.669626,7.154188,6.624414,6.572255,6.104196,5.765384,5.620934,8.070168,10.453649,NaN

In [ ]:
PersonalGNI_df.head()

,국가별,1989,1990,1991,1992,1993,1994,1995,1996,1997,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,대한민국,5380.0,6450.0,7570.0,8310.0,9010.0,10090.0,11820.0,13320.0,13550.0,...,26980.0,28160.0,28720.0,29330.0,30300.0,32750.0,33830.0,33040.0,35110.0,35990.0
1,브루나이,11970.0,12310.0,13400.0,14970.0,14870.0,14960.0,15580.0,16130.0,16150.0,...,44520.0,42380.0,38250.0,32690.0,29400.0,29030.0,31880.0,31210.0,30320.0,31410.0
2,중국,320.0,330.0,350.0,390.0,420.0,470.0,540.0,650.0,750.0,...,6740.0,7470.0,7890.0,8210.0,8670.0,9540.0,10310.0,10520.0,11930.0,12850.0
3,홍콩,11550.0,12660.0,14320.0,16560.0,19560.0,21820.0,23570.0,24140.0,26080.0,...,38570.0,40240.0,41180.0,42970.0,46380.0,50050.0,50480.0,48550.0,54370.0,54370.0
4,인도네시아,520.0,560.0,600.0,660.0,740.0,850.0,980.0,1080.0,1090.0,...,3710.0,3600.0,3420.0,3400.0,3530.0,3850.0,4070.0,3900.0,4170.0,4580.0

In [ ]:
#결측값 확인
print('[PersonalGNI_df] ', PersonalGNI_df.isnull().sum())
print('[GNI_df] ', GNI_df.isnull().sum())
print('[EcoGrowth_df] ', EcoGrowth_df.isnull().sum())
print('[ConsumeIndex_df] ', ConsumeIndex_df.isnull().sum())
print('[Debt_df] ', Debt_df.isnull().sum())

[PersonalGNI_df]  국가별     0
1989    1
1990    1
1991    0
1992    0
1993    0
1994    0
1995    0
1996    0
1997    0
1998    0
1999    0
2000    0
2001    0
2002    0
2003    0
2004    0
2005    0
2006    0
2007    0
2008    0
2009    0
2010    0
2011    0
2012    0
2013    0
2014    0
2015    0
2016    0
2017    0
2018    0
2019    0
2020    0
2021    0
2022    0
dtype: int64
[GNI_df]  국가별     0
1989    0
1990    0
1991    0
1992    0
1993    0
1994    0
1995    0
1996    0
1997    0
1998    0
1999    0
2000    0
2001    0
2002    0
2003    0
2004    0
2005    0
2006    0
2007    0
2008    0
2009    0
2010    0
2011    0
2012    0
2013    0
2014    0
2015    0
2016    0
2017    0
2018    0
2019    0
2020    0
2021    0
2022    0
dtype: int64
[EcoGrowth_df]  국가별     0
1961    5
1962    4
1963    4
1964    4
       ..
2018    0
2019    0
2020    0
2021    0
2022    0
Length: 63, dtype: int64
[ConsumeIndex_df]  0
국가별     0
1989    2
1990    2
1991    2
1992    1
1993    1
1994    1
1995    0
1996    0
1997    0
1998    0
1999    0
2000    0
2001    0
2002    0
2003    0
2004    0
2005    0
2006    0
2007    0
2008    0
2009    0
2010    0
2011    0
2012    0
2013    0
2014    0
2015    0
2016    0
2017    0
2018    0
2019    0
2020    0
2021    0
2022    2
dtype: int64
[Debt_df]  국가별     0
1989    6
1990    5
1991    4
1992    3
1993    3
1994    3
1995    3
1996    3
1997    3
1998    3
1999    3
2000    3
2001    1
2002    0
2003    0
2004    0
2005    0
2006    0
2007    0
2008    0
2009    1
2010    0
2011    0
2012    0
2013    0
2014    0
2015    0
2016    0
2017    0
2018    0
2019    0
2020    0
2021    1
2022    3
dtype: int64

#### (변화율 테스트)

In [ ]:
no_nan_val=PersonalGNI_nan.iloc[17, PersonalGNI_nan.columns.get_loc(no_nan_col[17])]
next_val=PersonalGNI_nan.iloc[17, PersonalGNI_nan.columns.get_loc(no_nan_col[17]) + 1]
cal_val=(next_val-no_nan_val)/100
PersonalGNI_nan.iloc[17, PersonalGNI_nan.columns.get_loc(no_nan_col[17]) - 1]=no_nan_val-(no_nan_val/100)
fill_na=PersonalGNI_nan.iloc[17, PersonalGNI_nan.columns.get_loc(no_nan_col[17]) - 1]
fill_na

NameError: name 'PersonalGNI_nan' is not defined

In [ ]:
for idx, col in test.iterrows():
  if PersonalGNI_nan.iloc[idx].isnull().any():
    no_nan_col = PersonalGNI_nan.iloc[:, 1:].apply(lambda x: x.first_valid_index(), axis=1) #결측치없는 첫번째 컬럼 찾기
    for n in range(len(no_nan_col)):
      no_nan_val = PersonalGNI_nan.iloc[idx, PersonalGNI_nan.columns.get_loc(no_nan_col[n])] #결측치없는 첫번째 컬럼의 값

      for col in range(PersonalGNI_nan.columns.get_loc(no_nan_col[0]) - 1, -1, -1):
        prev_val = PersonalGNI_nan.iloc[0, col]
        if not pd.notna(prev_val):
            PersonalGNI_nan.iloc[0, col] = no_nan_val - (no_nan_val / 100)
            no_nan_val = PersonalGNI_nan.iloc[0, col]
  else :
    continue
PersonalGNI_nan

NameError: name 'test' is not defined

In [ ]:
#테스트
test=Debt_df.copy()
test.replace('-', np.nan, inplace=True)
test.reset_index(drop=True, inplace=True)
test.head()

,국가별,1989,1990,1991,1992,1993,1994,1995,1996,1997,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,뉴질랜드,54.945620,55.449559,58.007615,58.657988,54.595766,48.933660,43.465965,37.260515,34.646108,...,34.574979,34.175965,34.214040,33.374137,31.138012,28.097108,31.839560,43.336334,50.097413,52.792014
1,대만,4.737004,4.496023,5.318414,10.104884,12.879696,13.495952,14.908128,15.251419,15.877626,...,33.700338,32.449433,31.054736,30.414306,29.766589,29.244629,28.175216,27.802109,26.264965,26.080650
2,대한민국,12.722320,12.238558,11.415776,11.160201,10.421399,9.243627,8.152614,7.502808,9.308807,...,30.916449,32.183164,33.564123,34.002007,34.177731,34.337929,36.321158,42.211003,45.330841,48.052247
3,러시아,NaN,NaN,NaN,116.000000,92.400000,63.500000,53.700000,51.900000,54.700000,...,11.058048,13.786413,14.148992,13.845245,13.494531,12.917723,13.163881,18.495516,NaN,NaN
4,말레이시아,79.669841,74.129464,67.319662,59.109023,51.133873,43.722814,37.708883,32.452198,29.298110,...,52.256881,51.938048,53.574478,51.890578,50.049697,51.185901,52.421371,62.028209,63.403116,60.373597

In [ ]:
no_nan_col = test.iloc[:, 1:].apply(lambda x: x.first_valid_index(), axis=1)
no_nan_col

0     1989
1     1989
2     1989
3     1992
4     1989
5     1989
6     1989
7     1991
8     2001
9     1989
10    1989
11    1989
12    1989
13    1990
14    1989
15    1989
16    2002
17    1989
18    2001
dtype: int64

In [ ]:
test.columns.get_loc(no_nan_col[0])

17

In [ ]:
no_nan_val=test.iloc[0, test.columns.get_loc(no_nan_col[0])]
next_val=test.iloc[0, test.columns.get_loc(no_nan_col[0]) + 1]
cal_val=(next_val-no_nan_val)/100
test.iloc[0, test.columns.get_loc(no_nan_col[0]) - 1]=no_nan_val-(no_nan_val/100)
fill_na=test.iloc[0, test.columns.get_loc(no_nan_col[0]) - 1]
print('채울 결측값 :',fill_na)
print('nan 아닌 값 :', no_nan_val)
print('nan 아닌 다음값 :',next_val)
print('계산율:',cal_val)

채울 결측값 : 32.769
nan 아닌 값 : 33.1
nan 아닌 다음값 : 35.0
계산율: 0.018999999999999986

In [ ]:
for idx, col in test.iterrows():
  if test.iloc[idx].isnull().any():
    no_nan_col = test.iloc[:, 1:].apply(lambda x: x.first_valid_index(), axis=1) #결측치없는 첫번째 컬럼 찾기
    for n in range(len(no_nan_col)):
      no_nan_val = test.iloc[idx, test.columns.get_loc(no_nan_col[n])] #결측치없는 첫번째 컬럼의 값

      for col in range(test.columns.get_loc(no_nan_col[0]) - 1, -1, -1):
        prev_val = test.iloc[0, col]
        if not pd.notna(prev_val):
            test.iloc[0, col] = no_nan_val - (no_nan_val / 100)
            no_nan_val = test.iloc[0, col]
  else :
    continue

In [ ]:
test

,국가별,1995,1996,1997,1998,1999,2000,2001,2002,2003,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,대한민국,28.183252,28.467932,28.755486,29.045946,29.339339,29.635696,29.935047,30.237421,30.542849,...,37.700,39.700,40.800,41.200,40.100,40.000,42.100,48.700,51.500,NaN
1,일본,93.140000,99.186000,108.469000,118.520000,130.901000,140.804000,146.843000,157.095000,166.315000,...,229.677,234.381,233.280,231.368,230.303,234.185,234.801,256.992,255.967,254.622
2,캐나다,125.617000,131.667000,125.385000,124.523000,114.668000,105.793000,105.445000,104.262000,99.894000,...,107.779,108.576,114.448,115.354,111.838,109.840,111.883,146.070,134.076,113.306
3,멕시코,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.224000,...,50.174,52.536,53.507,49.819,48.635,48.535,50.736,58.552,54.465,NaN
4,미국,93.715000,91.185000,86.102000,81.561000,76.157000,72.139000,74.789000,80.457000,81.891000,...,135.831,135.514,136.944,138.800,135.442,137.316,136.138,159.911,148.052,144.022
5,칠레,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.956000,...,19.032,22.375,24.293,28.390,29.364,32.205,38.725,44.192,42.092,41.316
6,오스트레일리아,57.783000,54.826000,53.358000,49.713000,42.001000,38.394000,37.836000,36.356000,33.502000,...,55.144,61.116,64.402,68.966,66.269,66.908,77.005,92.053,84.434,70.395
7,뉴질랜드,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,51.081,49.009,47.595,46.665,44.230,41.794,38.307,51.870,57.281,59.523

In [ ]:
#테스트2
data = {
    '국가별': ['대한민국', '브루나이', '중국', '홍콩'],
    '2000': [np.nan, np.nan, 5447.35, np.nan],
    '2001': [np.nan, 95, 5776.36, np.nan],
    '2002': [100, 150, 5776.36, 99],
    '2003': [110, 200, 5776.36, 1000]
}

df = pd.DataFrame(data)

for idx, col in df.iterrows():
  no_nan_col = df.iloc[:, 1:].apply(lambda x: x.first_valid_index(), axis=1) #결측치없는 첫번째 컬럼 찾기
  if df.iloc[idx].isnull().any():
      no_nan_val = df.iloc[idx, df.columns.get_loc(no_nan_col[idx])] #결측치없는 첫번째 컬럼의 값
      next_val=df.iloc[idx, df.columns.get_loc(no_nan_col[idx]) + 1]
      cal_val=((next_val-no_nan_val)/no_nan_val)*100
      for n in range(df.columns.get_loc(no_nan_col[idx]) - 1, -1, -1):
          prev_val = df.iloc[idx, n]
          if not pd.notna(prev_val):
            df.iloc[idx, df.columns.get_loc(no_nan_col[idx]) - 1]=no_nan_val*100 / (100 + cal_val)
  else:
    continue

df

    국가별         2000         2001     2002     2003
0  대한민국          NaN    90.909091   100.00   110.00
1  브루나이    60.166667    95.000000   150.00   200.00
2    중국  5447.350000  5776.360000  5776.36  5776.36
3    홍콩          NaN     9.801000    99.00  1000.00

In [ ]:
import time
for idx, col in test.iterrows():
  no_nan_col = test.iloc[:, 1:].apply(lambda x: x.first_valid_index(), axis=1) #결측치없는 첫번째 컬럼 찾기
  if test.iloc[idx].isnull().any():
      no_nan_val = test.iloc[idx, test.columns.get_loc(no_nan_col[idx])] #결측치없는 첫번째 컬럼의 값
      next_val=test.iloc[idx, test.columns.get_loc(no_nan_col[idx]) + 1]
      cal_val=((next_val-no_nan_val)/no_nan_val)*100
      time.sleep(2)
      for n in range(test.columns.get_loc(no_nan_col[idx]) - 1, -1, -1):
          prev_val = test.iloc[idx, n]
          if not pd.notna(prev_val):
            test.iloc[idx, test.columns.get_loc(no_nan_col[idx]) - 1]=no_nan_val*100 / (100 + cal_val)
            time.sleep(5)
  else:
    continue

test

,국가별,1995,1996,1997,1998,1999,2000,2001,2002,2003,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,대한민국,28.183252,28.467932,28.755486,29.045946,29.339339,29.635696,29.935047,30.237421,30.542849,...,37.700,39.700,40.800,41.200,40.100,40.000,42.100,48.700,51.500,NaN
1,일본,93.140000,99.186000,108.469000,118.520000,130.901000,140.804000,146.843000,157.095000,166.315000,...,229.677,234.381,233.280,231.368,230.303,234.185,234.801,256.992,255.967,254.622
2,캐나다,125.617000,131.667000,125.385000,124.523000,114.668000,105.793000,105.445000,104.262000,99.894000,...,107.779,108.576,114.448,115.354,111.838,109.840,111.883,146.070,134.076,113.306
3,멕시코,34.348249,34.695201,35.045657,35.399654,35.757226,36.118410,36.483242,36.851760,37.224000,...,50.174,52.536,53.507,49.819,48.635,48.535,50.736,58.552,54.465,NaN
4,미국,93.715000,91.185000,86.102000,81.561000,76.157000,72.139000,74.789000,80.457000,81.891000,...,135.831,135.514,136.944,138.800,135.442,137.316,136.138,159.911,148.052,144.022
5,칠레,22.105272,22.328557,22.554098,22.781918,23.012038,23.244483,23.479276,23.716440,23.956000,...,19.032,22.375,24.293,28.390,29.364,32.205,38.725,44.192,42.092,41.316
6,오스트레일리아,57.783000,54.826000,53.358000,49.713000,42.001000,38.394000,37.836000,36.356000,33.502000,...,55.144,61.116,64.402,68.966,66.269,66.908,77.005,92.053,84.434,70.395
7,뉴질랜드,NaN,0.121522,0.372003,1.138774,3.486005,10.671334,32.667008,32.996977,33.330280,...,51.081,49.009,47.595,46.665,44.230,41.794,38.307,51.870,57.281,59.523

#### 1인당 GNI
* 러시아 1989 - 1990 (변화율)

In [ ]:
PersonalGNI_nan=PersonalGNI_df.copy()
PersonalGNI_nan.head()

,국가별,1989,1990,1991,1992,1993,1994,1995,1996,1997,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,대한민국,5380.0,6450.0,7570.0,8310.0,9010.0,10090.0,11820.0,13320.0,13550.0,...,26980.0,28160.0,28720.0,29330.0,30300.0,32750.0,33830.0,33040.0,35110.0,35990.0
1,브루나이,11970.0,12310.0,13400.0,14970.0,14870.0,14960.0,15580.0,16130.0,16150.0,...,44520.0,42380.0,38250.0,32690.0,29400.0,29030.0,31880.0,31210.0,30320.0,31410.0
2,중국,320.0,330.0,350.0,390.0,420.0,470.0,540.0,650.0,750.0,...,6740.0,7470.0,7890.0,8210.0,8670.0,9540.0,10310.0,10520.0,11930.0,12850.0
3,홍콩,11550.0,12660.0,14320.0,16560.0,19560.0,21820.0,23570.0,24140.0,26080.0,...,38570.0,40240.0,41180.0,42970.0,46380.0,50050.0,50480.0,48550.0,54370.0,54370.0
4,인도네시아,520.0,560.0,600.0,660.0,740.0,850.0,980.0,1080.0,1090.0,...,3710.0,3600.0,3420.0,3400.0,3530.0,3850.0,4070.0,3900.0,4170.0,4580.0

In [ ]:
no_nan_col = PersonalGNI_nan.iloc[:, 1:].apply(lambda x: x.first_valid_index(), axis=1)
no_nan_col

0     1989
1     1989
2     1989
3     1989
4     1989
5     1989
6     1989
7     1989
8     1989
9     1989
10    1989
11    1989
12    1989
13    1989
14    1989
15    1989
16    1989
17    1991
18    1989
19    1989
20    1989
dtype: object

In [ ]:
no_nan_val=PersonalGNI_nan.iloc[17, PersonalGNI_nan.columns.get_loc(no_nan_col[17])]
no_nan_val

3440.0

In [ ]:
next_val=PersonalGNI_nan.iloc[17, PersonalGNI_nan.columns.get_loc(no_nan_col[17]) + 1]
next_val

3090.0

In [ ]:
cal_val=((next_val-no_nan_val)/no_nan_val)*100
cal_val

-10.174418604651162

In [ ]:
PersonalGNI_nan.iloc[17, PersonalGNI_nan.columns.get_loc(no_nan_col[17]) - 1]=no_nan_val*100 / (100 + cal_val)
PersonalGNI_nan

,국가별,1989,1990,1991,1992,1993,1994,1995,1996,1997,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,대한민국,5380.0,6450.000000,7570.0,8310.0,9010.0,10090.0,11820.0,13320.0,13550.0,...,26980.0,28160.0,28720.0,29330.0,30300.0,32750.0,33830.0,33040.0,35110.0,35990.0
1,브루나이,11970.0,12310.000000,13400.0,14970.0,14870.0,14960.0,15580.0,16130.0,16150.0,...,44520.0,42380.0,38250.0,32690.0,29400.0,29030.0,31880.0,31210.0,30320.0,31410.0
2,중국,320.0,330.000000,350.0,390.0,420.0,470.0,540.0,650.0,750.0,...,6740.0,7470.0,7890.0,8210.0,8670.0,9540.0,10310.0,10520.0,11930.0,12850.0
3,홍콩,11550.0,12660.000000,14320.0,16560.0,19560.0,21820.0,23570.0,24140.0,26080.0,...,38570.0,40240.0,41180.0,42970.0,46380.0,50050.0,50480.0,48550.0,54370.0,54370.0
4,인도네시아,520.0,560.000000,600.0,660.0,740.0,850.0,980.0,1080.0,1090.0,...,3710.0,3600.0,3420.0,3400.0,3530.0,3850.0,4070.0,3900.0,4170.0,4580.0
5,일본,27470.0,28380.000000,29080.0,31050.0,34100.0,37150.0,42570.0,43940.0,40760.0,...,48850.0,44440.0,39380.0,38460.0,38930.0,41800.0,41970.0,40870.0,43450.0,42440.0
6,말레이시아,2330.0,2470.000000,2630.0,2950.0,3310.0,3670.0,4120.0,4570.0,4690.0,...,10600.0,10870.0,10400.0,9880.0,9680.0,10360.0,10960.0,10320.0,10710.0,11780.0
7,필리핀,800.0,830.000000,830.0,890.0,940.0,1060.0,1170.0,1330.0,1400.0,...,3140.0,3300.0,3350.0,3410.0,3480.0,3640.0,3770.0,3350.0,3550.0,3950.0
8,싱가포르,10320.0,11450.000000,12970.0,15270.0,17710.0,20780.0,23630.0,25610.0,27730.0,...,54470.0,56380.0,53160.0,53290.0,54920.0,56560.0,58910.0,55260.0,63000.0,67200.0
9,대만,7803.0,8420.000000,9372.0,11000.0,11448.0,12343.0,13315.0,13826.0,14163.0,...,22552.0,23492.0,23367.0,23684.0,25704.0,26421.0,26561.0,29369.0,33756.0,33664.0
10,태국,1350.0,1520.000000,1690.0,1920.0,2150.0,2410.0,2740.0,2950.0,2670.0,...,5610.0,5640.0,5580.0,5570.0,5820.0,6450.0,7080.0,6920.0,7090.0,7230.0
11,베트남,220.0,130.000000,110.0,130.0,160.0,190.0,250.0,300.0,340.0,...,2200.0,2400.0,2480.0,2580.0,2720.0,3060.0,3340.0,3450.0,3590.0,4010.0
12,캐나다,19860.0,20640.000000,20980.0,21420.0,21270.0,20890.0,20850.0,20810.0,21330.0,...,52800.0,52200.0,47590.0,43890.0,42900.0,45080.0,46600.0,43810.0,48720.0,52960.0
13,멕시코,2430.0,2860.000000,3330.0,3860.0,4620.0,5440.0,4880.0,4700.0,4730.0,...,10400.0,10640.0,10310.0,9530.0,9060.0,9350.0,9660.0,8750.0,9590.0,10410.0
14,미국,23770.0,24060.000000,24270.0,25680.0,26390.0,27650.0,29040.0,30270.0,31270.0,...,53990.0,55800.0,56620.0,57140.0,59220.0,63460.0,66130.0,64650.0,70900.0,76370.0
15,칠레,2180.0,2340.000000,2590.0,3100.0,3430.0,3720.0,4410.0,5070.0,5610.0,...,15230.0,14830.0,14210.0,13440.0,13340.0,14600.0,14830.0,13010.0,14800.0,15360.0
16,페루,910.0,840.000000,1210.0,1410.0,1550.0,1750.0,1940.0,2140.0,2270.0,...,6360.0,6470.0,6290.0,6070.0,6030.0,6430.0,6770.0,6000.0,6420.0,6770.0
17,러시아,NaN,3829.644013,3440.0,3090.0,2920.0,2650.0,2640.0,2600.0,2650.0,...,15190.0,14630.0,11780.0,9730.0,9210.0,10250.0,11280.0,10750.0,11820.0,12830.0
18,오스트레일리아,15600.0,17340.000000,18240.0,18570.0,18950.0,18930.0,19370.0,20590.0,22060.0,...,66050.0,65190.0,60480.0,54080.0,51490.0,53100.0,54900.0,53620.0,57170.0,60430.0
19,뉴질랜드,13570.0,13640.000000,12160.0,12050.0,12360.0,13400.0,15280.0,16730.0,17170.0,...,39950.0,41690.0,40660.0,39450.0,38860.0,41680.0,43110.0,41590.0,45770.0,48460.0
20,파푸아뉴기니,960.0,890.000000,930.0,980.0,1130.0,1170.0,1060.0,1040.0,930.0,...,2360.0,2810.0,2670.0,2520.0,2390.0,2400.0,2510.0,2470.0,2450.0,2730.0

In [ ]:
no_nan_col = PersonalGNI_nan.iloc[:, 1:].apply(lambda x: x.first_valid_index(), axis=1)
no_nan_col

0     1989
1     1989
2     1989
3     1989
4     1989
5     1989
6     1989
7     1989
8     1989
9     1989
10    1989
11    1989
12    1989
13    1989
14    1989
15    1989
16    1989
17    1990
18    1989
19    1989
20    1989
dtype: object

In [ ]:
no_nan_val=PersonalGNI_nan.iloc[17, PersonalGNI_nan.columns.get_loc(no_nan_col[17])]
no_nan_val

3829.644012944984

In [ ]:
next_val=PersonalGNI_nan.iloc[17, PersonalGNI_nan.columns.get_loc(no_nan_col[17]) + 1]
next_val

3440.0

In [ ]:
cal_val=((next_val-no_nan_val)/no_nan_val)*100
cal_val

-10.174418604651162

In [ ]:
PersonalGNI_nan.iloc[17, PersonalGNI_nan.columns.get_loc(no_nan_col[17]) - 1]=no_nan_val*100 / (100 + cal_val)
PersonalGNI_nan

,국가별,1989,1990,1991,1992,1993,1994,1995,1996,1997,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,대한민국,5380.000000,6450.000000,7570.0,8310.0,9010.0,10090.0,11820.0,13320.0,13550.0,...,26980.0,28160.0,28720.0,29330.0,30300.0,32750.0,33830.0,33040.0,35110.0,35990.0
1,브루나이,11970.000000,12310.000000,13400.0,14970.0,14870.0,14960.0,15580.0,16130.0,16150.0,...,44520.0,42380.0,38250.0,32690.0,29400.0,29030.0,31880.0,31210.0,30320.0,31410.0
2,중국,320.000000,330.000000,350.0,390.0,420.0,470.0,540.0,650.0,750.0,...,6740.0,7470.0,7890.0,8210.0,8670.0,9540.0,10310.0,10520.0,11930.0,12850.0
3,홍콩,11550.000000,12660.000000,14320.0,16560.0,19560.0,21820.0,23570.0,24140.0,26080.0,...,38570.0,40240.0,41180.0,42970.0,46380.0,50050.0,50480.0,48550.0,54370.0,54370.0
4,인도네시아,520.000000,560.000000,600.0,660.0,740.0,850.0,980.0,1080.0,1090.0,...,3710.0,3600.0,3420.0,3400.0,3530.0,3850.0,4070.0,3900.0,4170.0,4580.0
5,일본,27470.000000,28380.000000,29080.0,31050.0,34100.0,37150.0,42570.0,43940.0,40760.0,...,48850.0,44440.0,39380.0,38460.0,38930.0,41800.0,41970.0,40870.0,43450.0,42440.0
6,말레이시아,2330.000000,2470.000000,2630.0,2950.0,3310.0,3670.0,4120.0,4570.0,4690.0,...,10600.0,10870.0,10400.0,9880.0,9680.0,10360.0,10960.0,10320.0,10710.0,11780.0
7,필리핀,800.000000,830.000000,830.0,890.0,940.0,1060.0,1170.0,1330.0,1400.0,...,3140.0,3300.0,3350.0,3410.0,3480.0,3640.0,3770.0,3350.0,3550.0,3950.0
8,싱가포르,10320.000000,11450.000000,12970.0,15270.0,17710.0,20780.0,23630.0,25610.0,27730.0,...,54470.0,56380.0,53160.0,53290.0,54920.0,56560.0,58910.0,55260.0,63000.0,67200.0
9,대만,7803.000000,8420.000000,9372.0,11000.0,11448.0,12343.0,13315.0,13826.0,14163.0,...,22552.0,23492.0,23367.0,23684.0,25704.0,26421.0,26561.0,29369.0,33756.0,33664.0
10,태국,1350.000000,1520.000000,1690.0,1920.0,2150.0,2410.0,2740.0,2950.0,2670.0,...,5610.0,5640.0,5580.0,5570.0,5820.0,6450.0,7080.0,6920.0,7090.0,7230.0
11,베트남,220.000000,130.000000,110.0,130.0,160.0,190.0,250.0,300.0,340.0,...,2200.0,2400.0,2480.0,2580.0,2720.0,3060.0,3340.0,3450.0,3590.0,4010.0
12,캐나다,19860.000000,20640.000000,20980.0,21420.0,21270.0,20890.0,20850.0,20810.0,21330.0,...,52800.0,52200.0,47590.0,43890.0,42900.0,45080.0,46600.0,43810.0,48720.0,52960.0
13,멕시코,2430.000000,2860.000000,3330.0,3860.0,4620.0,5440.0,4880.0,4700.0,4730.0,...,10400.0,10640.0,10310.0,9530.0,9060.0,9350.0,9660.0,8750.0,9590.0,10410.0
14,미국,23770.000000,24060.000000,24270.0,25680.0,26390.0,27650.0,29040.0,30270.0,31270.0,...,53990.0,55800.0,56620.0,57140.0,59220.0,63460.0,66130.0,64650.0,70900.0,76370.0
15,칠레,2180.000000,2340.000000,2590.0,3100.0,3430.0,3720.0,4410.0,5070.0,5610.0,...,15230.0,14830.0,14210.0,13440.0,13340.0,14600.0,14830.0,13010.0,14800.0,15360.0
16,페루,910.000000,840.000000,1210.0,1410.0,1550.0,1750.0,1940.0,2140.0,2270.0,...,6360.0,6470.0,6290.0,6070.0,6030.0,6430.0,6770.0,6000.0,6420.0,6770.0
17,러시아,4263.422461,3829.644013,3440.0,3090.0,2920.0,2650.0,2640.0,2600.0,2650.0,...,15190.0,14630.0,11780.0,9730.0,9210.0,10250.0,11280.0,10750.0,11820.0,12830.0
18,오스트레일리아,15600.000000,17340.000000,18240.0,18570.0,18950.0,18930.0,19370.0,20590.0,22060.0,...,66050.0,65190.0,60480.0,54080.0,51490.0,53100.0,54900.0,53620.0,57170.0,60430.0
19,뉴질랜드,13570.000000,13640.000000,12160.0,12050.0,12360.0,13400.0,15280.0,16730.0,17170.0,...,39950.0,41690.0,40660.0,39450.0,38860.0,41680.0,43110.0,41590.0,45770.0,48460.0
20,파푸아뉴기니,960.000000,890.000000,930.0,980.0,1130.0,1170.0,1060.0,1040.0,930.0,...,2360.0,2810.0,2670.0,2520.0,2390.0,2400.0,2510.0,2470.0,2450.0,2730.0

In [ ]:
PersonalGNI_df=PersonalGNI_nan.copy()

#### 소비자 물가지수
* 베트남 : 1989 - 1994 (변화율)
* 러시아 : 1989 - 1991 (변화율) , 2022(변화율-우측)
* 파퓨아뉴기니 : 2022(변화율-우측)

In [ ]:
ConsumeIndex_nan=ConsumeIndex_df.copy()

In [ ]:
no_nan_col = ConsumeIndex_nan.iloc[:, 1:].apply(lambda x: x.first_valid_index(), axis=1)
no_nan_col

0     1989
1     1989
2     1989
3     1989
4     1989
5     1989
6     1989
7     1989
8     1989
9     1989
10    1989
11    1995
12    1989
13    1989
14    1989
15    1989
16    1989
17    1992
18    1989
19    1989
20    1989
dtype: int64

In [ ]:
for idx, col in ConsumeIndex_nan.iterrows():
  no_nan_col = ConsumeIndex_nan.iloc[:, 1:].apply(lambda x: x.first_valid_index(), axis=1) #결측치없는 첫번째 컬럼 찾기
  if ConsumeIndex_nan.iloc[idx].isnull().any():
      no_nan_val = ConsumeIndex_nan.iloc[idx, ConsumeIndex_nan.columns.get_loc(no_nan_col[idx])] #결측치없는 첫번째 컬럼의 값
      next_val=ConsumeIndex_nan.iloc[idx, ConsumeIndex_nan.columns.get_loc(no_nan_col[idx]) + 1]
      cal_val=((next_val-no_nan_val)/no_nan_val)*100
      for n in range(ConsumeIndex_nan.columns.get_loc(no_nan_col[idx]) - 1, -1, -1):
          prev_val = ConsumeIndex_nan.iloc[idx, n]
          if not pd.notna(prev_val):
            ConsumeIndex_nan.iloc[idx, ConsumeIndex_nan.columns.get_loc(no_nan_col[idx]) - 1]=no_nan_val*100 / (100 + cal_val)
            time.sleep(2)
  else:
    continue

In [ ]:
ConsumeIndex_nan

,국가별,1989,1990,1991,1992,1993,1994,1995,1996,1997,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,대한민국,41.033150,44.551030,48.708890,51.735310,54.219120,57.61641,60.19806,63.16254,65.96628,...,107.68443,109.05717,109.82747,110.89465,113.05081,114.71926,115.15863,115.77737,118.66987,124.707660
1,브루나이,76.414460,78.048710,79.297490,80.312120,83.726750,85.78854,90.90724,92.72187,94.30886,...,100.64001,100.43158,99.94112,99.66259,98.40634,99.41505,99.02682,100.94825,102.69810,106.479710
2,중국,39.242470,40.440260,41.878600,44.539550,51.046820,63.42924,74.07979,80.23816,82.47397,...,111.15800,113.29406,114.92212,117.22057,119.08805,121.55888,125.08315,128.10944,129.36622,131.919360
3,홍콩,51.617710,56.999650,63.360130,69.475970,75.591810,82.19692,89.65825,95.28482,100.78908,...,114.32755,119.38500,122.95562,125.91800,127.79905,130.87407,134.64744,134.98536,137.10295,139.682360
4,인도네시아,11.735080,12.652670,13.844440,14.886020,16.325790,17.71870,19.38786,20.93371,22.23707,...,116.90985,124.38615,132.30099,136.96567,142.18241,146.72990,151.17668,154.08073,156.48459,163.071750
5,일본,91.710990,94.534330,97.608060,99.326230,100.560900,101.26026,101.13075,101.26890,103.03888,...,100.01758,102.77729,103.59466,103.46282,103.96379,104.99209,105.48427,105.45790,105.21181,107.839690
6,말레이시아,55.364410,56.813740,59.289880,62.116360,64.313160,66.70880,69.01064,71.41812,73.31964,...,107.09882,110.46492,112.78954,115.14748,119.60507,120.66322,121.46309,120.07999,123.05449,127.212130
7,필리핀,25.481800,28.584810,34.090660,37.039840,39.527550,43.63307,46.61408,50.09900,52.89966,...,110.67462,114.65650,115.42950,116.87664,120.21135,126.59379,129.62200,132.72406,137.93637,145.965870
8,싱가포르,69.414470,71.816730,74.276960,75.957900,77.696800,80.10551,81.48375,82.61082,84.26600,...,112.65948,113.81440,113.21959,112.61696,113.26592,113.76273,114.40579,114.19766,116.82976,123.980980
9,대만,60.990000,63.510000,65.810000,68.750000,70.770000,73.67000,76.37000,78.72000,79.43000,...,93.71000,94.83000,94.54000,95.86000,96.45000,97.76000,98.30000,98.07000,100.00000,102.950000
10,태국,47.002840,49.759080,52.600250,54.777450,56.591780,59.44840,62.90721,66.55904,70.30352,...,109.27501,111.34592,110.34334,110.55095,111.28681,112.47079,113.26565,112.30749,113.68932,120.598690
11,베트남,28.841755,30.478529,32.208189,34.036008,35.967556,38.00872,40.16572,42.44513,43.80741,...,138.00673,143.64369,144.55037,148.40733,153.63165,159.06964,163.51695,168.78372,171.88042,177.305840
12,캐나다,64.210070,67.279620,71.064680,72.123640,73.468800,73.59044,75.17172,76.35232,77.59015,...,105.45220,107.46279,108.67201,110.22467,111.98483,114.52490,116.75730,117.59445,121.58701,129.858330
13,멕시코,9.280820,11.754320,14.418120,16.654070,18.278090,19.55130,26.39412,35.46799,42.78348,...,111.75690,116.24799,119.41068,122.78010,130.19780,136.57665,141.54252,146.35049,154.67667,166.890370
14,미국,56.850970,59.919760,62.457340,64.349060,66.248420,67.97581,69.88282,71.93123,73.61276,...,106.83385,108.56693,108.69572,110.06701,112.41156,115.15730,117.24420,118.69050,124.26641,134.211210
15,칠레,23.796080,29.991740,36.525260,42.159580,47.525550,52.96396,57.32428,61.54285,65.31780,...,108.35412,113.46700,118.40142,122.88433,125.56654,128.62395,131.91357,135.93098,142.08127,158.625030
16,페루,0.041460,3.143170,16.015420,27.791280,41.292280,51.09380,56.77987,63.33110,68.75363,...,110.06668,113.82209,117.68987,121.87631,125.52638,127.42077,130.29044,132.89939,138.57640,150.124960
17,러시아,0.000058,0.000565,0.005502,0.053600,0.522150,2.12894,6.33178,9.35533,10.73630,...,121.63896,131.15527,151.52946,162.20085,168.17524,173.01582,180.75026,186.86262,199.37206,212.718939
18,오스트레일리아,55.697190,59.781480,61.680540,62.304890,63.397500,64.64620,67.63788,69.40687,69.56296,...,107.70031,110.37981,112.04475,113.47555,115.68678,117.89802,119.79709,120.81165,124.27159,132.466180
19,뉴질랜드,60.958080,64.675580,66.358690,67.031940,67.895450,69.08048,71.67442,73.31269,74.18302,...,106.32314,107.62826,107.94329,108.64087,110.65158,112.42012,114.24091,116.19964,120.77921,129.441770
20,파푸아뉴기니,19.994190,21.384460,22.874030,23.859810,25.046620,25.76114,30.21290,33.72490,35.06188,...,114.59518,120.57947,127.80937,136.33902,143.73138,150.01890,155.91265,163.50821,170.83924,178.498963

In [ ]:
previous = ConsumeIndex_nan.loc[ConsumeIndex_nan['국가별'] == '러시아', 2020]
next = ConsumeIndex_nan.loc[ConsumeIndex_nan['국가별'] == '러시아', 2021]
cal_val=((next-previous)/previous)*100
ConsumeIndex_nan.loc[ConsumeIndex_nan['국가별']=='러시아',2022]=(next*cal_val)/100+next

previous = ConsumeIndex_nan.loc[ConsumeIndex_nan['국가별'] == '파푸아뉴기니', 2020]
next = ConsumeIndex_nan.loc[ConsumeIndex_nan['국가별'] == '파푸아뉴기니', 2021]
cal_val=((next-previous)/previous)*100
ConsumeIndex_nan.loc[ConsumeIndex_nan['국가별']=='파푸아뉴기니',2022]=(next*cal_val)/100+next
ConsumeIndex_nan

,국가별,1989,1990,1991,1992,1993,1994,1995,1996,1997,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,대한민국,41.03315,44.55103,48.708890,51.73531,54.21912,57.61641,60.19806,63.16254,65.96628,...,107.68443,109.05717,109.82747,110.89465,113.05081,114.71926,115.15863,115.77737,118.66987,124.707660
1,브루나이,76.41446,78.04871,79.297490,80.31212,83.72675,85.78854,90.90724,92.72187,94.30886,...,100.64001,100.43158,99.94112,99.66259,98.40634,99.41505,99.02682,100.94825,102.69810,106.479710
2,중국,39.24247,40.44026,41.878600,44.53955,51.04682,63.42924,74.07979,80.23816,82.47397,...,111.15800,113.29406,114.92212,117.22057,119.08805,121.55888,125.08315,128.10944,129.36622,131.919360
3,홍콩,51.61771,56.99965,63.360130,69.47597,75.59181,82.19692,89.65825,95.28482,100.78908,...,114.32755,119.38500,122.95562,125.91800,127.79905,130.87407,134.64744,134.98536,137.10295,139.682360
4,인도네시아,11.73508,12.65267,13.844440,14.88602,16.32579,17.71870,19.38786,20.93371,22.23707,...,116.90985,124.38615,132.30099,136.96567,142.18241,146.72990,151.17668,154.08073,156.48459,163.071750
5,일본,91.71099,94.53433,97.608060,99.32623,100.56090,101.26026,101.13075,101.26890,103.03888,...,100.01758,102.77729,103.59466,103.46282,103.96379,104.99209,105.48427,105.45790,105.21181,107.839690
6,말레이시아,55.36441,56.81374,59.289880,62.11636,64.31316,66.70880,69.01064,71.41812,73.31964,...,107.09882,110.46492,112.78954,115.14748,119.60507,120.66322,121.46309,120.07999,123.05449,127.212130
7,필리핀,25.48180,28.58481,34.090660,37.03984,39.52755,43.63307,46.61408,50.09900,52.89966,...,110.67462,114.65650,115.42950,116.87664,120.21135,126.59379,129.62200,132.72406,137.93637,145.965870
8,싱가포르,69.41447,71.81673,74.276960,75.95790,77.69680,80.10551,81.48375,82.61082,84.26600,...,112.65948,113.81440,113.21959,112.61696,113.26592,113.76273,114.40579,114.19766,116.82976,123.980980
9,대만,60.99000,63.51000,65.810000,68.75000,70.77000,73.67000,76.37000,78.72000,79.43000,...,93.71000,94.83000,94.54000,95.86000,96.45000,97.76000,98.30000,98.07000,100.00000,102.950000
10,태국,47.00284,49.75908,52.600250,54.77745,56.59178,59.44840,62.90721,66.55904,70.30352,...,109.27501,111.34592,110.34334,110.55095,111.28681,112.47079,113.26565,112.30749,113.68932,120.598690
11,베트남,NaN,NaN,NaN,NaN,NaN,38.00872,40.16572,42.44513,43.80741,...,138.00673,143.64369,144.55037,148.40733,153.63165,159.06964,163.51695,168.78372,171.88042,177.305840
12,캐나다,64.21007,67.27962,71.064680,72.12364,73.46880,73.59044,75.17172,76.35232,77.59015,...,105.45220,107.46279,108.67201,110.22467,111.98483,114.52490,116.75730,117.59445,121.58701,129.858330
13,멕시코,9.28082,11.75432,14.418120,16.65407,18.27809,19.55130,26.39412,35.46799,42.78348,...,111.75690,116.24799,119.41068,122.78010,130.19780,136.57665,141.54252,146.35049,154.67667,166.890370
14,미국,56.85097,59.91976,62.457340,64.34906,66.24842,67.97581,69.88282,71.93123,73.61276,...,106.83385,108.56693,108.69572,110.06701,112.41156,115.15730,117.24420,118.69050,124.26641,134.211210
15,칠레,23.79608,29.99174,36.525260,42.15958,47.52555,52.96396,57.32428,61.54285,65.31780,...,108.35412,113.46700,118.40142,122.88433,125.56654,128.62395,131.91357,135.93098,142.08127,158.625030
16,페루,0.04146,3.14317,16.015420,27.79128,41.29228,51.09380,56.77987,63.33110,68.75363,...,110.06668,113.82209,117.68987,121.87631,125.52638,127.42077,130.29044,132.89939,138.57640,150.124960
17,러시아,NaN,NaN,0.005502,0.05360,0.52215,2.12894,6.33178,9.35533,10.73630,...,121.63896,131.15527,151.52946,162.20085,168.17524,173.01582,180.75026,186.86262,199.37206,212.718939
18,오스트레일리아,55.69719,59.78148,61.680540,62.30489,63.39750,64.64620,67.63788,69.40687,69.56296,...,107.70031,110.37981,112.04475,113.47555,115.68678,117.89802,119.79709,120.81165,124.27159,132.466180
19,뉴질랜드,60.95808,64.67558,66.358690,67.03194,67.89545,69.08048,71.67442,73.31269,74.18302,...,106.32314,107.62826,107.94329,108.64087,110.65158,112.42012,114.24091,116.19964,120.77921,129.441770
20,파푸아뉴기니,19.99419,21.38446,22.874030,23.85981,25.04662,25.76114,30.21290,33.72490,35.06188,...,114.59518,120.57947,127.80937,136.33902,143.73138,150.01890,155.91265,163.50821,170.83924,178.498963

In [ ]:
ConsumeIndex_df=ConsumeIndex_nan.copy()
ConsumeIndex_df

,국가별,1989,1990,1991,1992,1993,1994,1995,1996,1997,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,대한민국,41.033150,44.551030,48.708890,51.735310,54.219120,57.61641,60.19806,63.16254,65.96628,...,107.68443,109.05717,109.82747,110.89465,113.05081,114.71926,115.15863,115.77737,118.66987,124.707660
1,브루나이,76.414460,78.048710,79.297490,80.312120,83.726750,85.78854,90.90724,92.72187,94.30886,...,100.64001,100.43158,99.94112,99.66259,98.40634,99.41505,99.02682,100.94825,102.69810,106.479710
2,중국,39.242470,40.440260,41.878600,44.539550,51.046820,63.42924,74.07979,80.23816,82.47397,...,111.15800,113.29406,114.92212,117.22057,119.08805,121.55888,125.08315,128.10944,129.36622,131.919360
3,홍콩,51.617710,56.999650,63.360130,69.475970,75.591810,82.19692,89.65825,95.28482,100.78908,...,114.32755,119.38500,122.95562,125.91800,127.79905,130.87407,134.64744,134.98536,137.10295,139.682360
4,인도네시아,11.735080,12.652670,13.844440,14.886020,16.325790,17.71870,19.38786,20.93371,22.23707,...,116.90985,124.38615,132.30099,136.96567,142.18241,146.72990,151.17668,154.08073,156.48459,163.071750
5,일본,91.710990,94.534330,97.608060,99.326230,100.560900,101.26026,101.13075,101.26890,103.03888,...,100.01758,102.77729,103.59466,103.46282,103.96379,104.99209,105.48427,105.45790,105.21181,107.839690
6,말레이시아,55.364410,56.813740,59.289880,62.116360,64.313160,66.70880,69.01064,71.41812,73.31964,...,107.09882,110.46492,112.78954,115.14748,119.60507,120.66322,121.46309,120.07999,123.05449,127.212130
7,필리핀,25.481800,28.584810,34.090660,37.039840,39.527550,43.63307,46.61408,50.09900,52.89966,...,110.67462,114.65650,115.42950,116.87664,120.21135,126.59379,129.62200,132.72406,137.93637,145.965870
8,싱가포르,69.414470,71.816730,74.276960,75.957900,77.696800,80.10551,81.48375,82.61082,84.26600,...,112.65948,113.81440,113.21959,112.61696,113.26592,113.76273,114.40579,114.19766,116.82976,123.980980
9,대만,60.990000,63.510000,65.810000,68.750000,70.770000,73.67000,76.37000,78.72000,79.43000,...,93.71000,94.83000,94.54000,95.86000,96.45000,97.76000,98.30000,98.07000,100.00000,102.950000
10,태국,47.002840,49.759080,52.600250,54.777450,56.591780,59.44840,62.90721,66.55904,70.30352,...,109.27501,111.34592,110.34334,110.55095,111.28681,112.47079,113.26565,112.30749,113.68932,120.598690
11,베트남,28.841755,30.478529,32.208189,34.036008,35.967556,38.00872,40.16572,42.44513,43.80741,...,138.00673,143.64369,144.55037,148.40733,153.63165,159.06964,163.51695,168.78372,171.88042,177.305840
12,캐나다,64.210070,67.279620,71.064680,72.123640,73.468800,73.59044,75.17172,76.35232,77.59015,...,105.45220,107.46279,108.67201,110.22467,111.98483,114.52490,116.75730,117.59445,121.58701,129.858330
13,멕시코,9.280820,11.754320,14.418120,16.654070,18.278090,19.55130,26.39412,35.46799,42.78348,...,111.75690,116.24799,119.41068,122.78010,130.19780,136.57665,141.54252,146.35049,154.67667,166.890370
14,미국,56.850970,59.919760,62.457340,64.349060,66.248420,67.97581,69.88282,71.93123,73.61276,...,106.83385,108.56693,108.69572,110.06701,112.41156,115.15730,117.24420,118.69050,124.26641,134.211210
15,칠레,23.796080,29.991740,36.525260,42.159580,47.525550,52.96396,57.32428,61.54285,65.31780,...,108.35412,113.46700,118.40142,122.88433,125.56654,128.62395,131.91357,135.93098,142.08127,158.625030
16,페루,0.041460,3.143170,16.015420,27.791280,41.292280,51.09380,56.77987,63.33110,68.75363,...,110.06668,113.82209,117.68987,121.87631,125.52638,127.42077,130.29044,132.89939,138.57640,150.124960
17,러시아,0.000058,0.000565,0.005502,0.053600,0.522150,2.12894,6.33178,9.35533,10.73630,...,121.63896,131.15527,151.52946,162.20085,168.17524,173.01582,180.75026,186.86262,199.37206,212.718939
18,오스트레일리아,55.697190,59.781480,61.680540,62.304890,63.397500,64.64620,67.63788,69.40687,69.56296,...,107.70031,110.37981,112.04475,113.47555,115.68678,117.89802,119.79709,120.81165,124.27159,132.466180
19,뉴질랜드,60.958080,64.675580,66.358690,67.031940,67.895450,69.08048,71.67442,73.31269,74.18302,...,106.32314,107.62826,107.94329,108.64087,110.65158,112.42012,114.24091,116.19964,120.77921,129.441770
20,파푸아뉴기니,19.994190,21.384460,22.874030,23.859810,25.046620,25.76114,30.21290,33.72490,35.06188,...,114.59518,120.57947,127.80937,136.33902,143.73138,150.01890,155.91265,163.50821,170.83924,178.498963

In [ ]:
print('[PersonalGNI_df] ', PersonalGNI_df.isnull().sum())
print('[GNI_df] ', GNI_df.isnull().sum())
print('[EcoGrowth_df] ', EcoGrowth_df.isnull().sum())
print('[ConsumeIndex_df] ', ConsumeIndex_df.isnull().sum())
print('[Debt_df] ', Debt_df.isnull().sum())

[PersonalGNI_df]  국가별     0
1989    0
1990    0
1991    0
1992    0
1993    0
1994    0
1995    0
1996    0
1997    0
1998    0
1999    0
2000    0
2001    0
2002    0
2003    0
2004    0
2005    0
2006    0
2007    0
2008    0
2009    0
2010    0
2011    0
2012    0
2013    0
2014    0
2015    0
2016    0
2017    0
2018    0
2019    0
2020    0
2021    0
2022    0
dtype: int64
[GNI_df]  국가별     0
1989    0
1990    0
1991    0
1992    0
1993    0
1994    0
1995    0
1996    0
1997    0
1998    0
1999    0
2000    0
2001    0
2002    0
2003    0
2004    0
2005    0
2006    0
2007    0
2008    0
2009    0
2010    0
2011    0
2012    0
2013    0
2014    0
2015    0
2016    0
2017    0
2018    0
2019    0
2020    0
2021    0
2022    0
dtype: int64
[EcoGrowth_df]  국가별     0
1961    5
1962    4
1963    4
1964    4
       ..
2018    0
2019    0
2020    0
2021    0
2022    0
Length: 63, dtype: int64
[ConsumeIndex_df]  0
국가별     0
1989    0
1990    0
1991    0
1992    0
1993    0
1994    0
1995    0
1996    0
1997    0
1998    0
1999    0
2000    0
2001    0
2002    0
2003    0
2004    0
2005    0
2006    0
2007    0
2008    0
2009    0
2010    0
2011    0
2012    0
2013    0
2014    0
2015    0
2016    0
2017    0
2018    0
2019    0
2020    0
2021    0
2022    0
dtype: int64
[Debt_df]  국가별     0
1989    6
1990    5
1991    4
1992    3
1993    3
1994    3
1995    3
1996    3
1997    3
1998    3
1999    3
2000    3
2001    1
2002    0
2003    0
2004    0
2005    0
2006    0
2007    0
2008    0
2009    1
2010    0
2011    0
2012    0
2013    0
2014    0
2015    0
2016    0
2017    0
2018    0
2019    0
2020    0
2021    1
2022    3
dtype: int64

### 데이터 전처리 - 피벗

#### 피벗 테스트

In [ ]:
#행열변경 테스트(피벗)
df2 = PersonalIncome_df.melt(id_vars='국가별', var_name='연도', value_name='1인당국민총소득')
df2['연도'] = pd.to_numeric(df2['연도'], errors='coerce')
df2

            국가별    연도 1인당국민총소득
0       　　　대한민국  1989     5380
1       　　　브루나이  1989    11970
2         　　　중국  1989      320
3         　　　홍콩  1989    11550
4      　　　인도네시아  1989      520
..          ...   ...      ...
709       　　　페루  2022   6770.0
710      　　　러시아  2022  12830.0
711  　　　오스트레일리아  2022  60430.0
712     　　　뉴질랜드  2022  48460.0
713   　　　파푸아뉴기니  2022   2730.0

[714 rows x 3 columns]

#### 피벗 적용

In [ ]:
def pivot(df, nation, year, value):
    df = df.melt(id_vars=[nation], var_name=year, value_name=value)
    df[year] = pd.to_numeric(df[year], errors='coerce')
    df[value] = pd.to_numeric(df[value], errors='coerce')
    return df

EcoGrowth_pivot = pivot(EcoGrowth_df, '국가별', '연도별', '경제성장률(GDP,%)')
Debt_pivot = pivot(Debt_df, '국가별', '연도별', 'GDP대비국가부채(%)')
GNI_pivot = pivot(GNI_df, '국가별', '연도별', '국민총소득(GNI, 달러)')
PersonalGNI_pivot = pivot(PersonalGNI_df, '국가별', '연도별', '1인당국민총소득(GNI, 달러)')
ConsumeIndex_pivot = pivot(ConsumeIndex_df, '국가별', '연도별', '소비자물가지수(2010=100)')

Debt_pivot.head()

     국가별   연도별  GDP대비국가부채(%)
0   뉴질랜드  1989     54.945620
1     대만  1989      4.737004
2   대한민국  1989     12.722320
3    러시아  1989           NaN
4  말레이시아  1989     79.669841

In [ ]:
EcoGrowth_pivot.head()

     국가별   연도별  경제성장률(GDP,%)
0   대한민국  1961           6.9
1   브루나이  1961           NaN
2     중국  1961         -27.3
3     홍콩  1961           NaN
4  인도네시아  1961           5.7

In [ ]:
GNI_pivot.head()

     국가별   연도별  국민총소득(GNI, 달러)
0   대한민국  1989       246.23000
1   브루나이  1989         2.98553
2     중국  1989       347.94259
3     홍콩  1989        67.16238
4  인도네시아  1989        89.89011

In [ ]:
PersonalGNI_pivot.head()

     국가별   연도별  1인당국민총소득(GNI, 달러)
0   대한민국  1989             5380.0
1   브루나이  1989            11970.0
2     중국  1989              320.0
3     홍콩  1989            11550.0
4  인도네시아  1989              520.0

In [ ]:
ConsumeIndex_pivot.head()

     국가별   연도별  소비자물가지수(2010=100)
0   대한민국  1989           41.03315
1   브루나이  1989           76.41446
2     중국  1989           39.24247
3     홍콩  1989           51.61771
4  인도네시아  1989           11.73508

In [ ]:
* 중간미팅
1989년, nan 0 으로 변경
plot으로

시작 eda, 인구수(중국이 너무 다 많음), 비율 고려
대쉬보드의 컨텐츠 목적 :
상관관계
립스틱 효과 증명하기 어려움
관광지출, 밥 잘먹는지, 삶의 질

SyntaxError: invalid decimal literal (<ipython-input-56-eed2d4857dbc>, line 2)

### 추가 EDA -인구수

In [ ]:
file_path = os.path.join(basic_dir, 'economy/unpopulation_dataportal_20240128225518.xls')
popul = pd.read_excel(file_path,sheet_name='Data')
popul

     Unnamed: 0             Unnamed: 1  Unnamed: 2 Total population by sex
0           NaN                    NaN         NaN              Both sexes
1           NaN                    NaN         NaN                   Total
2           NaN                    NaN         NaN          Not applicable
3           NaN                    NaN         NaN                  Median
4          36.0              Australia      1989.0                16796588
..          ...                    ...         ...                     ...
899      1834.0  Australia/New Zealand      2020.0                30731184
900      1834.0  Australia/New Zealand      2021.0                31050817
901      1834.0  Australia/New Zealand      2022.0                31362702
902      1834.0  Australia/New Zealand      2023.0                31667211
903      1834.0  Australia/New Zealand      2024.0                31969421

[904 rows x 4 columns]

In [ ]:
popul.drop(index=range(0, 4), inplace=True)
popul=popul.iloc[:,1:]
popul.astype({'Unnamed: 2':'int32'})
popul['Unnamed: 2'] = popul['Unnamed: 2'].astype('int32')
popul.rename(columns={'Unnamed: 1': '국가별', 'Unnamed: 2': '연도별', 'Total population by sex': '인구수(명)'}, inplace=True)
popul

                       국가별   연도별    인구수(명)
4                Australia  1989  16796588
5                Australia  1990  17048003
6                Australia  1991  17271086
7                Australia  1992  17462504
8                Australia  1993  17631511
..                     ...   ...       ...
899  Australia/New Zealand  2020  30731184
900  Australia/New Zealand  2021  31050817
901  Australia/New Zealand  2022  31362702
902  Australia/New Zealand  2023  31667211
903  Australia/New Zealand  2024  31969421

[900 rows x 3 columns]

In [ ]:
popul['국가별'].replace({'Republic of Korea': '대한민국',
                       'Brunei Darussalam': '브루나이',
                       'China': '중국',
                       'China, Hong Kong SAR':'홍콩',
                       'Indonesia':'인도네시아',
                       'Japan':'일본',
                       'Malaysia':'말레이시아',
                       'Philippines':'필리핀',
                       'Singapore':'싱가포르',
                       'China, Taiwan Province of China':'대만',
                       'Thailand':'태국',
                       'Viet Nam':'베트남',
                       'Canada':'캐나다',
                       'Mexico':'멕시코',
                       'United States of America':'미국',
                       'Chile':'칠레',
                       'Peru':'페루',
                       'Russian Federation':'러시아',
                       'Australia':'오스트레일리아',
                       'New Zealand':'뉴질랜드',
                       'Papua New Guinea':'파푸아뉴기니'}
                       , inplace=True)

popul

                       국가별   연도별    인구수(명)
4                  오스트레일리아  1989  16796588
5                  오스트레일리아  1990  17048003
6                  오스트레일리아  1991  17271086
7                  오스트레일리아  1992  17462504
8                  오스트레일리아  1993  17631511
..                     ...   ...       ...
899  Australia/New Zealand  2020  30731184
900  Australia/New Zealand  2021  31050817
901  Australia/New Zealand  2022  31362702
902  Australia/New Zealand  2023  31667211
903  Australia/New Zealand  2024  31969421

[900 rows x 3 columns]

In [ ]:
popul['국가별'].unique()

array(['오스트레일리아', '브루나이', 'Cambodia', '캐나다', '칠레', '중국', '대만', '홍콩',
       'India', '인도네시아', '일본', '대한민국', '말레이시아', '멕시코', '뉴질랜드', '파푸아뉴기니',
       '페루', '필리핀', '러시아', '싱가포르', '베트남', '태국', '미국',
       'Australia/New Zealand'], dtype=object)

In [ ]:
popul = popul.loc[~popul['국가별'].isin(['Australia/New Zealand', 'Cambodia', 'India']), :]

popul = popul.loc[~popul['연도별'].eq(2024), :]

popul=popul.astype({'인구수(명)':'int32'})

popul = popul.reset_index(drop=True)
popul

         국가별   연도별     인구수(명)
0    오스트레일리아  1989   16796588
1    오스트레일리아  1990   17048003
2    오스트레일리아  1991   17271086
3    오스트레일리아  1992   17462504
4    오스트레일리아  1993   17631511
..       ...   ...        ...
730       미국  2019  334319671
731       미국  2020  335942004
732       미국  2021  336997624
733       미국  2022  338289857
734       미국  2023  339996564

[735 rows x 3 columns]

### 데이터 전처리 - merge

In [ ]:
def From1989(df) :
  for n in range (1961,1989) :
    idx = df[df['연도별'] == n].index #apec 출범 이후 (1989 이후로 기간정리)
    df.drop(idx , inplace=True)
    df.reset_index(drop=True, inplace=True) #인덱스 통일시킴
  return df

EcoGrowth_from1989 = From1989(EcoGrowth_pivot)
Debt_from1989 = From1989(Debt_pivot)
GNI_from1989 = From1989(GNI_pivot)
PersonalGNI_from1989 = From1989(PersonalGNI_pivot)
ConsumeIndex_from1989 = From1989(ConsumeIndex_pivot)
print(Debt_from1989.head())
print(EcoGrowth_from1989.head())

     국가별   연도별  GDP대비국가부채(%)
0   뉴질랜드  1989     54.945620
1     대만  1989      4.737004
2   대한민국  1989     12.722320
3    러시아  1989           NaN
4  말레이시아  1989     79.669841
     국가별   연도별  경제성장률(GDP,%)
0   대한민국  1989           7.1
1   브루나이  1989          -1.1
2     중국  1989           4.2
3     홍콩  1989           2.3
4  인도네시아  1989           7.8

In [ ]:
GNI_from1989

         국가별   연도별  국민총소득(GNI, 달러)
0       대한민국  1989       246.23000
1       브루나이  1989         2.98553
2         중국  1989       347.94259
3         홍콩  1989        67.16238
4      인도네시아  1989        89.89011
..       ...   ...             ...
709       페루  2022       227.00607
710      러시아  2022      2196.71307
711  오스트레일리아  2022      1614.67683
712     뉴질랜드  2022       239.67557
713   파푸아뉴기니  2022        29.41700

[714 rows x 3 columns]

In [ ]:
merged = pd.merge(GNI_from1989,PersonalGNI_from1989, how='left', on=['국가별', '연도별'])
merged = pd.merge(merged, EcoGrowth_from1989, how='left', on=['국가별', '연도별'])
merged = pd.merge(merged, Debt_from1989, how='left', on=['국가별', '연도별'])
merged = pd.merge(merged, ConsumeIndex_from1989, how='left', on=['국가별', '연도별'])
merged = pd.merge(merged, popul, how='left', on=['국가별', '연도별'])
merged

,국가별,연도별,"국민총소득(GNI, 달러)","1인당국민총소득(GNI, 달러)","경제성장률(GDP,%)",GDP대비국가부채(%),소비자물가지수(2010=100),인구수(명)
0,대한민국,1989,246.23000,5380.0,7.1,12.722320,41.033150,43567513
1,브루나이,1989,2.98553,11970.0,-1.1,NaN,76.414460,253821
2,중국,1989,347.94259,320.0,4.2,NaN,39.242470,1134414723
3,홍콩,1989,67.16238,11550.0,2.3,NaN,51.617710,5752708
4,인도네시아,1989,89.89011,520.0,7.8,38.647724,11.735080,178949174
...,...,...,...,...,...,...,...,...
709,페루,2022,227.00607,6770.0,2.7,30.408485,150.124960,34049589
710,러시아,2022,2196.71307,12830.0,-2.1,NaN,212.718939,144713314
711,오스트레일리아,2022,1614.67683,60430.0,3.6,NaN,132.466180,26177414
712,뉴질랜드,2022,239.67557,48460.0,2.2,52.792014,129.441770,5185289
713,파푸아뉴기니,2022,29.41700,2730.0,4.6,49.192544,178.498963,10142619

In [ ]:
#추출하기
merged.to_excel('/content/drive/MyDrive/경제지수_merged.xlsx', index=False)

## 소비품목

### 데이터불러오기 + 전처리

#### 인터넷 이용률
* 오스트레일리아 : 2002,2003,2004

In [ ]:
#인터넷이용률
file_path = os.path.join(basic_dir, 'item/인터넷/인터넷_이용률_APEC회원국__20240122000239.xlsx')
internet_df = pd.read_excel(file_path,header=[0])
internet_df=internet_df.drop(0).reset_index(drop=True)
internet_df=drop_conti(internet_df)
internet_df=ToNullandNum(internet_df)
internet_df

<ipython-input-9-a7efdd00a86a>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['국가별'] = df['국가별'].str.strip()

,국가별,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,대한민국,44.70000,56.60000,59.40000,65.50000,72.70000,73.50000,78.10000,78.80000,81.00000,...,84.7700,87.5568,89.8963,92.84300,95.0694,96.0229,96.1576,96.5051,97.5713,97.1686
1,브루나이,8.99628,12.91780,15.32990,19.59500,29.71560,36.46640,42.18630,44.68000,46.00000,...,64.5000,68.7700,71.2000,90.00000,94.8667,95.0000,95.0000,96.0691,98.0800,NaN
2,중국,1.77591,2.63965,4.59570,6.20000,7.30000,8.52326,10.52320,16.00000,22.60000,...,45.8000,47.9000,50.3000,53.20000,54.3000,59.2000,64.0809,70.0528,73.0532,75.6113
3,홍콩,27.82780,38.67140,43.08240,52.20000,56.39990,56.90000,60.80000,64.80000,66.70000,...,74.2000,79.8663,84.9484,87.47940,89.4159,90.5074,91.7434,92.4131,93.0872,95.6136
4,인도네시아,0.92556,2.01861,2.13414,2.38702,2.60029,3.60202,4.76481,5.78627,7.91748,...,14.9400,17.1400,22.0627,25.44740,32.3358,39.9046,47.6906,53.7265,62.1045,66.4846
5,일본,29.99070,38.53210,46.59420,48.43530,62.39390,66.92110,68.68530,74.30000,75.40000,...,88.2194,89.1068,91.0580,93.18270,91.7265,88.7464,92.7304,90.2195,82.9141,NaN
6,말레이시아,21.38470,26.69600,32.33820,34.97120,42.25230,48.62920,51.63800,55.70000,55.80000,...,57.0575,63.6654,71.0641,78.78830,80.1405,81.2010,84.1871,89.5550,96.7514,97.3986
7,필리핀,1.98225,2.52401,4.33228,4.85767,5.24363,5.39764,5.74059,5.97000,6.22000,...,32.7000,34.7000,36.9000,39.20000,41.6000,44.1000,43.0266,47.1119,52.6757,NaN
8,싱가포르,36.00000,41.67040,47.00000,53.83790,62.00000,61.00000,59.00000,69.90000,69.00000,...,80.9021,82.1000,83.2000,84.45230,84.4523,88.1656,88.9493,92.0043,96.9247,95.9539
9,대만,28.10110,34.90200,47.60050,51.93650,53.81430,58.01490,63.68420,64.45000,65.84000,...,76.2892,78.0376,78.0369,79.74520,82.9000,86.2058,88.8225,88.9607,90.1240,86.2680
10,태국,3.68904,5.55633,7.53125,9.29903,10.67730,15.02600,17.16070,20.03000,18.20000,...,28.9400,34.8900,39.3161,47.50500,52.8919,56.8175,66.6524,77.8437,85.2696,87.9773
11,베트남,0.25425,1.26565,1.85500,3.78028,7.64241,12.73990,17.25460,20.75540,23.92000,...,38.5000,41.0000,45.0000,53.00000,58.1400,69.8479,68.6616,70.3000,74.2100,78.5900
12,캐나다,51.30000,60.20000,61.59330,64.20000,65.95600,71.66000,72.40000,73.20000,76.70000,...,85.8000,87.1200,90.0000,91.16000,92.7014,94.6400,91.9129,92.3000,92.8340,NaN
13,멕시코,5.08138,7.03802,11.90000,12.90000,14.10000,17.21000,19.52000,20.81000,21.71000,...,43.4600,44.3900,57.4310,59.54040,53.0318,56.6596,69.6321,71.4902,75.6265,NaN
14,미국,43.07920,49.08080,58.78540,61.69710,64.75830,67.96810,68.93120,75.00000,74.00000,...,71.4000,73.0000,74.5542,85.54440,87.2749,88.4989,89.4303,90.6205,91.7532,NaN
15,칠레,16.60000,19.10000,22.10000,25.47380,28.17790,31.17530,34.49780,35.90000,37.30000,...,58.0000,61.1100,76.6296,83.55860,82.3275,84.9000,85.0176,86.3710,90.1934,NaN
16,페루,3.07643,7.57876,8.96695,11.60000,14.10000,17.10000,20.70000,25.20000,30.57000,...,39.2000,40.2000,40.8526,45.46170,50.4504,55.0543,59.9505,65.2518,71.1078,74.6750
17,러시아,1.97723,2.94437,4.12827,8.29886,12.85940,15.22670,18.02330,24.66000,32.00000,...,67.9700,70.5200,70.0992,73.09140,76.0081,80.8647,82.6422,84.9947,88.2138,90.4180
18,오스트레일리아,46.75610,52.68930,NaN,NaN,NaN,63.00000,66.00000,69.45000,71.67000,...,83.4535,84.0000,84.5605,86.54000,86.5450,90.0000,93.6099,96.3945,96.2400,NaN
19,뉴질랜드,47.37960,53.24100,59.08080,60.96250,61.84760,62.72020,69.00000,69.76000,72.03000,...,82.7800,84.0000,85.2000,86.50000,87.7000,89.0000,89.8637,92.8651,95.9102,NaN
20,파푸아뉴기니,0.83525,0.90410,1.32166,1.37440,1.50791,1.71619,1.75449,1.79056,1.15000,...,5.1000,6.5000,7.9000,9.60154,11.2092,NaN,19.9783,27.7300,32.0542,NaN

In [ ]:
mid=(internet_df.loc[20,'2017']+internet_df.loc[20,'2020'])/2
internet_df.loc[20,'2018']=(internet_df.loc[20,'2017']+mid)/2
internet_df.loc[20,'2019']=(internet_df.loc[20,'2018']+internet_df.loc[20,'2020'])/2
internet_df

,국가별,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,대한민국,44.70000,56.60000,59.40000,65.50000,72.70000,73.50000,78.10000,78.80000,81.00000,...,84.7700,87.5568,89.8963,92.84300,95.0694,96.0229,96.1576,96.5051,97.5713,97.1686
1,브루나이,8.99628,12.91780,15.32990,19.59500,29.71560,36.46640,42.18630,44.68000,46.00000,...,64.5000,68.7700,71.2000,90.00000,94.8667,95.0000,95.0000,96.0691,98.0800,NaN
2,중국,1.77591,2.63965,4.59570,6.20000,7.30000,8.52326,10.52320,16.00000,22.60000,...,45.8000,47.9000,50.3000,53.20000,54.3000,59.2000,64.0809,70.0528,73.0532,75.6113
3,홍콩,27.82780,38.67140,43.08240,52.20000,56.39990,56.90000,60.80000,64.80000,66.70000,...,74.2000,79.8663,84.9484,87.47940,89.4159,90.5074,91.7434,92.4131,93.0872,95.6136
4,인도네시아,0.92556,2.01861,2.13414,2.38702,2.60029,3.60202,4.76481,5.78627,7.91748,...,14.9400,17.1400,22.0627,25.44740,32.3358,39.9046,47.6906,53.7265,62.1045,66.4846
5,일본,29.99070,38.53210,46.59420,48.43530,62.39390,66.92110,68.68530,74.30000,75.40000,...,88.2194,89.1068,91.0580,93.18270,91.7265,88.7464,92.7304,90.2195,82.9141,NaN
6,말레이시아,21.38470,26.69600,32.33820,34.97120,42.25230,48.62920,51.63800,55.70000,55.80000,...,57.0575,63.6654,71.0641,78.78830,80.1405,81.2010,84.1871,89.5550,96.7514,97.3986
7,필리핀,1.98225,2.52401,4.33228,4.85767,5.24363,5.39764,5.74059,5.97000,6.22000,...,32.7000,34.7000,36.9000,39.20000,41.6000,44.1000,43.0266,47.1119,52.6757,NaN
8,싱가포르,36.00000,41.67040,47.00000,53.83790,62.00000,61.00000,59.00000,69.90000,69.00000,...,80.9021,82.1000,83.2000,84.45230,84.4523,88.1656,88.9493,92.0043,96.9247,95.9539
9,대만,28.10110,34.90200,47.60050,51.93650,53.81430,58.01490,63.68420,64.45000,65.84000,...,76.2892,78.0376,78.0369,79.74520,82.9000,86.2058,88.8225,88.9607,90.1240,86.2680
10,태국,3.68904,5.55633,7.53125,9.29903,10.67730,15.02600,17.16070,20.03000,18.20000,...,28.9400,34.8900,39.3161,47.50500,52.8919,56.8175,66.6524,77.8437,85.2696,87.9773
11,베트남,0.25425,1.26565,1.85500,3.78028,7.64241,12.73990,17.25460,20.75540,23.92000,...,38.5000,41.0000,45.0000,53.00000,58.1400,69.8479,68.6616,70.3000,74.2100,78.5900
12,캐나다,51.30000,60.20000,61.59330,64.20000,65.95600,71.66000,72.40000,73.20000,76.70000,...,85.8000,87.1200,90.0000,91.16000,92.7014,94.6400,91.9129,92.3000,92.8340,NaN
13,멕시코,5.08138,7.03802,11.90000,12.90000,14.10000,17.21000,19.52000,20.81000,21.71000,...,43.4600,44.3900,57.4310,59.54040,53.0318,56.6596,69.6321,71.4902,75.6265,NaN
14,미국,43.07920,49.08080,58.78540,61.69710,64.75830,67.96810,68.93120,75.00000,74.00000,...,71.4000,73.0000,74.5542,85.54440,87.2749,88.4989,89.4303,90.6205,91.7532,NaN
15,칠레,16.60000,19.10000,22.10000,25.47380,28.17790,31.17530,34.49780,35.90000,37.30000,...,58.0000,61.1100,76.6296,83.55860,82.3275,84.9000,85.0176,86.3710,90.1934,NaN
16,페루,3.07643,7.57876,8.96695,11.60000,14.10000,17.10000,20.70000,25.20000,30.57000,...,39.2000,40.2000,40.8526,45.46170,50.4504,55.0543,59.9505,65.2518,71.1078,74.6750
17,러시아,1.97723,2.94437,4.12827,8.29886,12.85940,15.22670,18.02330,24.66000,32.00000,...,67.9700,70.5200,70.0992,73.09140,76.0081,80.8647,82.6422,84.9947,88.2138,90.4180
18,오스트레일리아,46.75610,52.68930,NaN,NaN,NaN,63.00000,66.00000,69.45000,71.67000,...,83.4535,84.0000,84.5605,86.54000,86.5450,90.0000,93.6099,96.3945,96.2400,NaN
19,뉴질랜드,47.37960,53.24100,59.08080,60.96250,61.84760,62.72020,69.00000,69.76000,72.03000,...,82.7800,84.0000,85.2000,86.50000,87.7000,89.0000,89.8637,92.8651,95.9102,NaN
20,파푸아뉴기니,0.83525,0.90410,1.32166,1.37440,1.50791,1.71619,1.75449,1.79056,1.15000,...,5.1000,6.5000,7.9000,9.60154,11.2092,15.3394,21.5347,27.7300,32.0542,NaN

In [ ]:
def calculate_and_update(df, row_index, year_1, year_2, target_year):
    df.loc[row_index, target_year] = (df.loc[row_index, year_1]+df.loc[row_index, year_2])/2
    return df

calculate_and_update(internet_df, 18, '2001', '2005', '2003')
calculate_and_update(internet_df, 18, '2001', '2003', '2002')
calculate_and_update(internet_df, 18, '2003', '2005', '2004')

years = ['2020', '2021']
target_year = '2022'
rows_to_update = [1, 5, 7, 12, 13, 14, 15, 18, 19, 20]

for index in rows_to_update:
    calculate_and_update(internet_df, index, years[0], years[1], target_year)

internet_df

,국가별,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,대한민국,44.70000,56.60000,59.400000,65.50000,72.700000,73.50000,78.10000,78.80000,81.00000,...,84.7700,87.5568,89.8963,92.84300,95.0694,96.0229,96.1576,96.5051,97.5713,97.16860
1,브루나이,8.99628,12.91780,15.329900,19.59500,29.715600,36.46640,42.18630,44.68000,46.00000,...,64.5000,68.7700,71.2000,90.00000,94.8667,95.0000,95.0000,96.0691,98.0800,97.07455
2,중국,1.77591,2.63965,4.595700,6.20000,7.300000,8.52326,10.52320,16.00000,22.60000,...,45.8000,47.9000,50.3000,53.20000,54.3000,59.2000,64.0809,70.0528,73.0532,75.61130
3,홍콩,27.82780,38.67140,43.082400,52.20000,56.399900,56.90000,60.80000,64.80000,66.70000,...,74.2000,79.8663,84.9484,87.47940,89.4159,90.5074,91.7434,92.4131,93.0872,95.61360
4,인도네시아,0.92556,2.01861,2.134140,2.38702,2.600290,3.60202,4.76481,5.78627,7.91748,...,14.9400,17.1400,22.0627,25.44740,32.3358,39.9046,47.6906,53.7265,62.1045,66.48460
5,일본,29.99070,38.53210,46.594200,48.43530,62.393900,66.92110,68.68530,74.30000,75.40000,...,88.2194,89.1068,91.0580,93.18270,91.7265,88.7464,92.7304,90.2195,82.9141,86.56680
6,말레이시아,21.38470,26.69600,32.338200,34.97120,42.252300,48.62920,51.63800,55.70000,55.80000,...,57.0575,63.6654,71.0641,78.78830,80.1405,81.2010,84.1871,89.5550,96.7514,97.39860
7,필리핀,1.98225,2.52401,4.332280,4.85767,5.243630,5.39764,5.74059,5.97000,6.22000,...,32.7000,34.7000,36.9000,39.20000,41.6000,44.1000,43.0266,47.1119,52.6757,49.89380
8,싱가포르,36.00000,41.67040,47.000000,53.83790,62.000000,61.00000,59.00000,69.90000,69.00000,...,80.9021,82.1000,83.2000,84.45230,84.4523,88.1656,88.9493,92.0043,96.9247,95.95390
9,대만,28.10110,34.90200,47.600500,51.93650,53.814300,58.01490,63.68420,64.45000,65.84000,...,76.2892,78.0376,78.0369,79.74520,82.9000,86.2058,88.8225,88.9607,90.1240,86.26800
10,태국,3.68904,5.55633,7.531250,9.29903,10.677300,15.02600,17.16070,20.03000,18.20000,...,28.9400,34.8900,39.3161,47.50500,52.8919,56.8175,66.6524,77.8437,85.2696,87.97730
11,베트남,0.25425,1.26565,1.855000,3.78028,7.642410,12.73990,17.25460,20.75540,23.92000,...,38.5000,41.0000,45.0000,53.00000,58.1400,69.8479,68.6616,70.3000,74.2100,78.59000
12,캐나다,51.30000,60.20000,61.593300,64.20000,65.956000,71.66000,72.40000,73.20000,76.70000,...,85.8000,87.1200,90.0000,91.16000,92.7014,94.6400,91.9129,92.3000,92.8340,92.56700
13,멕시코,5.08138,7.03802,11.900000,12.90000,14.100000,17.21000,19.52000,20.81000,21.71000,...,43.4600,44.3900,57.4310,59.54040,53.0318,56.6596,69.6321,71.4902,75.6265,73.55835
14,미국,43.07920,49.08080,58.785400,61.69710,64.758300,67.96810,68.93120,75.00000,74.00000,...,71.4000,73.0000,74.5542,85.54440,87.2749,88.4989,89.4303,90.6205,91.7532,91.18685
15,칠레,16.60000,19.10000,22.100000,25.47380,28.177900,31.17530,34.49780,35.90000,37.30000,...,58.0000,61.1100,76.6296,83.55860,82.3275,84.9000,85.0176,86.3710,90.1934,88.28220
16,페루,3.07643,7.57876,8.966950,11.60000,14.100000,17.10000,20.70000,25.20000,30.57000,...,39.2000,40.2000,40.8526,45.46170,50.4504,55.0543,59.9505,65.2518,71.1078,74.67500
17,러시아,1.97723,2.94437,4.128270,8.29886,12.859400,15.22670,18.02330,24.66000,32.00000,...,67.9700,70.5200,70.0992,73.09140,76.0081,80.8647,82.6422,84.9947,88.2138,90.41800
18,오스트레일리아,46.75610,52.68930,55.266975,57.84465,60.422325,63.00000,66.00000,69.45000,71.67000,...,83.4535,84.0000,84.5605,86.54000,86.5450,90.0000,93.6099,96.3945,96.2400,96.31725
19,뉴질랜드,47.37960,53.24100,59.080800,60.96250,61.847600,62.72020,69.00000,69.76000,72.03000,...,82.7800,84.0000,85.2000,86.50000,87.7000,89.0000,89.8637,92.8651,95.9102,94.38765
20,파푸아뉴기니,0.83525,0.90410,1.321660,1.37440,1.507910,1.71619,1.75449,1.79056,1.15000,...,5.1000,6.5000,7.9000,9.60154,11.2092,15.3394,21.5347,27.7300,32.0542,29.89210

In [ ]:
internet_pivot = pivot(internet_df, '국가별', '연도별', '인터넷 이용률(%)')
internet_pivot

         국가별   연도별  인터넷 이용률(%)
0       대한민국  2000    44.70000
1       브루나이  2000     8.99628
2         중국  2000     1.77591
3         홍콩  2000    27.82780
4      인도네시아  2000     0.92556
..       ...   ...         ...
478       페루  2022    74.67500
479      러시아  2022    90.41800
480  오스트레일리아  2022    96.31725
481     뉴질랜드  2022    94.38765
482   파푸아뉴기니  2022    29.89210

[483 rows x 3 columns]

In [ ]:
internet_pivot.to_excel('/content/drive/MyDrive/인터넷이용률_EDA.xlsx', index=False)

#### 이동전화가입수

In [153]:
#이동전화가입수
file_path = os.path.join(basic_dir, 'item/이동전화/편집_이동전화_가입자_수_APEC회원국__20240121210445.xlsx')
mobile_df = pd.read_excel(file_path,)
mobile_df.head()

,국가별,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,NaN,인구 100명당 (명),인구 100명당 (명),인구 100명당 (명),인구 100명당 (명),인구 100명당 (명),인구 100명당 (명),인구 100명당 (명),인구 100명당 (명),인구 100명당 (명),...,인구 100명당 (명),인구 100명당 (명),인구 100명당 (명),인구 100명당 (명),인구 100명당 (명),인구 100명당 (명),인구 100명당 (명),인구 100명당 (명),인구 100명당 (명),인구 100명당 (명)
1,아시아,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,대한민국,57.314,61.7141,68.3475,70.6604,76.6565,80.064,83.658,92.0129,94.232,...,109.147,113.316,115.572,119.461,123.581,128.405,132.987,136.009,140.566,148.588
3,브루나이,28.4494,41.9677,44.2197,50.0967,56.1653,63.5095,80.8459,96.6706,103.716,...,113.872,108.496,109.953,122.878,126.601,130.321,131.218,121.476,135.501,117.755
4,중국,6.74472,11.3786,16.0825,20.9449,25.8189,30.1487,35.1125,41.4151,48.2079,...,89.3186,92.846,92.7007,97.3639,104.227,116.388,122.813,120.596,121.538,124.878

In [142]:
mobile_df.drop(0,inplace=True)
mobile_df

,국가별,2000,2001,2001,2002,2002,2003,2003,2004,2004,...,2018,2018,2019,2019,2020,2020,2021,2021,2022,2022
1,아시아,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,대한민국,57.314,29045.6,61.7141,32342.5,68.3475,33591.8,70.6604,36586.1,76.6565,...,66355.8,128.405,68892.5,132.987,70513.7,136.009,72855.5,140.566,76992.1,148.588
3,브루나이,28.4494,143.004,41.9677,153.647,44.2197,177.365,50.0967,202.454,56.1653,...,565.949,130.321,574.799,131.218,536.589,121.476,603.486,135.501,528.723,117.755
4,중국,6.74472,144820,11.3786,206005,16.0825,269953,20.9449,334824,25.8189,...,1649300,116.388,1746240,122.813,1718410,120.596,1733010,121.538,1780610,124.878
5,홍콩,80.9269,5776.36,84.9272,6395.73,93.384,7349.2,106.72,8213.96,118.768,...,19898.8,265.971,21455.7,286.224,21865.2,291.499,23939.7,319.426,21860.8,291.91
6,인도네시아,1.71406,6520.95,3.00349,11700,5.3154,18495.3,8.29086,30336.6,13.4269,...,319435,119.608,341278,126.595,355620,130.811,365873,133.651,316553,114.901
7,일본,52.6675,74819.2,58.8822,81118.3,63.7213,86655,67.9635,91474,71.6481,...,179873,142.467,186514,148.272,195055,155.739,200479,160.882,207648,167.523
8,말레이시아,22.3217,7385,31.3688,9053,37.4983,11124,44.9647,14611,57.6752,...,42413.4,130.909,44600.7,135.961,43723.6,131.698,47201.7,140.591,47952.1,141.292
9,필리핀,8.27925,12159.2,15.2703,15383,18.9246,22509.6,27.1386,32935.9,38.9278,...,134599,123.976,167322,151.587,149579,133.326,163345,143.436,166454,144.043
10,싱가포르,67.7768,2991.6,72.5881,3313,79.3192,3577,84.6344,3990.7,93.4502,...,8568.4,147.362,9034.3,154.001,8444.8,142.893,8761.9,147.48,9350.7,156.479
11,대만,80.5319,21786.4,97.5519,24390.5,108.549,25799.8,114.191,22760.1,100.251,...,29340.9,123.665,29291.5,123.189,29351.2,123.213,29674,124.368,30260.4,126.648
12,태국,4.84567,7550,11.8618,17449.9,27.171,21616.9,33.3713,26965.5,41.2878,...,125098,175.878,129614,181.767,116294,162.704,120850,168.782,126414,176.317
13,베트남,0.99816,1251.2,1.56756,1902.39,2.35904,2742,3.36542,4960,6.02591,...,140639,148.175,136230,142.237,138935,143.752,135349,138.865,137412,139.95
14,북아메리카,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,캐나다,28.4422,10649,34.3486,11872,37.9026,13291,42.0343,15020,47.0674,...,33211,89.674,34367,91.59,32360.1,85.4084,33611,88.0907,35082.1,91.2306
16,멕시코,14.3838,21757.6,21.8902,25928.3,25.6926,30097.7,29.3839,38451.1,36.9915,...,120165,96.8967,122035,97.5616,122898,97.5397,126469,99.8138,127872,100.288
17,미국,38.7672,128500,45.0134,141800,49.1763,160637,55.1809,184819,62.8748,...,348242,104.848,355763,106.414,352522,104.935,361664,107.319,372682,110.166
18,남아메리카,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,칠레,22.1572,5100.78,32.8574,6244.31,39.7884,7268.28,45.8303,9261.39,57.8187,...,25179,134.637,25051.7,131.577,25068.2,129.885,26571.8,136.313,26415.1,134.745
20,페루,4.77916,1793.28,6.63813,2306.94,8.43967,2930.34,10.6082,4092.56,14.6719,...,42154.8,130.899,39844.6,121.385,39358.4,118.176,43100.6,127.836,41549.5,122.026
21,유럽,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,러시아,2.22889,7750.5,5.31472,17608.8,12.1259,36135.1,24.9878,73722.2,51.1673,...,229431,157.431,239796,164.388,238733,163.589,246569,168.985,245267,-
23,오세아니아,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,오스트레일리아,45.0206,11132,57.8342,12670,65.0549,14347,72.8311,16480,82.7099,...,27640,110.652,27968,110.296,27013,105.232,27092,104.517,28018,107.031
25,뉴질랜드,39.9972,2288,58.8239,2449,62.0222,2599,64.6527,3027,74.1656,...,6319,130.598,6011,121.213,6236,123.213,5846,113.963,5947,114.69
26,파푸아뉴기니,0.1554,10.7,0.18777,15,0.25456,17.5,0.28731,48.311,0.76767,...,4300,46.0917,4535,47.5243,4818,49.4172,4818,48.4249,-,-

In [147]:
#대륙이름 삭제하기
def drop_conti(df):
    conti_list = ['아시아', '북아메리카', '남아메리카', '유럽', '오세아니아']

    if '국가' in df.columns:
        df = df[~df['국가'].isin(conti_list)]
        df = df.rename(columns={'국가': '국가별'})
        df['국가별'] = df['국가별'].str.strip()
    elif '국가별' in df.columns:
        df = df[~df['국가별'].isin(conti_list)]
        df['국가별'] = df['국가별'].str.strip()
    else:
        pass

    return df

# Null로 바꾸고, 리셋인덱스
def ToNullandNum(df):
    df.replace('-', np.nan, inplace=True)
    df.iloc[:, 1:] = df.iloc[:, 1:].astype(float)
    df.reset_index(drop=True, inplace=True)
    return df

In [146]:
mobile_df=drop_conti(mobile_df)
mobile_df.head()

<ipython-input-145-052b817fed4f>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['국가별'] = df['국가별'].str.strip()

,국가별,2000,2001,2001,2002,2002,2003,2003,2004,2004,...,2018,2018,2019,2019,2020,2020,2021,2021,2022,2022
2,대한민국,57.314,29045.6,61.7141,32342.5,68.3475,33591.8,70.6604,36586.1,76.6565,...,66355.8,128.405,68892.5,132.987,70513.7,136.009,72855.5,140.566,76992.1,148.588
3,브루나이,28.4494,143.004,41.9677,153.647,44.2197,177.365,50.0967,202.454,56.1653,...,565.949,130.321,574.799,131.218,536.589,121.476,603.486,135.501,528.723,117.755
4,중국,6.74472,144820,11.3786,206005,16.0825,269953,20.9449,334824,25.8189,...,1649300,116.388,1746240,122.813,1718410,120.596,1733010,121.538,1780610,124.878
5,홍콩,80.9269,5776.36,84.9272,6395.73,93.384,7349.2,106.72,8213.96,118.768,...,19898.8,265.971,21455.7,286.224,21865.2,291.499,23939.7,319.426,21860.8,291.91
6,인도네시아,1.71406,6520.95,3.00349,11700,5.3154,18495.3,8.29086,30336.6,13.4269,...,319435,119.608,341278,126.595,355620,130.811,365873,133.651,316553,114.901

In [148]:
mobile_df=ToNullandNum(mobile_df)
mobile_df.head()

<ipython-input-147-dd25232d87d4>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace('-', np.nan, inplace=True)
<ipython-input-147-dd25232d87d4>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.iloc[:, 1:] = df.iloc[:, 1:].astype(float)

,국가별,2000,2001,2001,2002,2002,2003,2003,2004,2004,...,2018,2018,2019,2019,2020,2020,2021,2021,2022,2022
0,대한민국,57.31400,29045.600,61.71410,32342.500,68.3475,33591.800,70.66040,36586.100,76.6565,...,66355.800,128.405,68892.500,132.987,70513.700,136.009,72855.500,140.566,76992.100,148.588
1,브루나이,28.44940,143.004,41.96770,153.647,44.2197,177.365,50.09670,202.454,56.1653,...,565.949,130.321,574.799,131.218,536.589,121.476,603.486,135.501,528.723,117.755
2,중국,6.74472,144820.000,11.37860,206005.000,16.0825,269953.000,20.94490,334824.000,25.8189,...,1649300.000,116.388,1746240.000,122.813,1718410.000,120.596,1733010.000,121.538,1780610.000,124.878
3,홍콩,80.92690,5776.360,84.92720,6395.730,93.3840,7349.200,106.72000,8213.960,118.7680,...,19898.800,265.971,21455.700,286.224,21865.200,291.499,23939.700,319.426,21860.800,291.910
4,인도네시아,1.71406,6520.950,3.00349,11700.000,5.3154,18495.300,8.29086,30336.600,13.4269,...,319435.000,119.608,341278.000,126.595,355620.000,130.811,365873.000,133.651,316553.000,114.901

In [149]:
mobile_df.isnull().sum()

국가별     0
2000    0
2001    0
2001    0
2002    0
2002    0
2003    0
2003    0
2004    0
2004    0
2005    0
2005    0
2006    0
2006    0
2007    0
2007    0
2008    0
2008    0
2009    0
2009    0
2010    0
2010    0
2011    0
2011    0
2012    0
2012    0
2013    0
2013    0
2014    0
2014    0
2015    0
2015    0
2016    0
2016    0
2017    0
2017    0
2018    0
2018    0
2019    0
2019    0
2020    0
2020    0
2021    0
2021    0
2022    1
2022    2
dtype: int64

In [150]:
def pivot(df, nation, year, value):
    df = df.melt(id_vars=[nation], var_name=year, value_name=value)
    df[year] = pd.to_numeric(df[year], errors='coerce')
    df[value] = pd.to_numeric(df[value], errors='coerce')
    return df

mobile_pivot = pivot(mobile_df, '국가별', '연도별', '이동전화 가입수(인구 100명당)')
mobile_pivot.head()

     국가별   연도별  이동전화 가입수(인구 100명당)
0   대한민국  2000            57.31400
1   브루나이  2000            28.44940
2     중국  2000             6.74472
3     홍콩  2000            80.92690
4  인도네시아  2000             1.71406

In [152]:
mobile_pivot.to_excel('/content/drive/MyDrive/이동전화가입자_EDA.xlsx', index=False)

In [155]:
file_path = os.path.join(basic_dir, 'item/이동전화/편집2_이동전화_가입자_수_APEC회원국__20240121210445.xlsx')
mobile_df2 = pd.read_excel(file_path)
mobile_df2.drop(0,inplace=True)
mobile_df2=drop_conti(mobile_df2)
mobile_df2=ToNullandNum(mobile_df2)

<ipython-input-147-dd25232d87d4>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['국가별'] = df['국가별'].str.strip()

In [156]:
mobile_df2.isnull().sum()

국가별     0
2000    0
2001    0
2002    0
2003    0
2004    0
2005    0
2006    0
2007    0
2008    0
2009    0
2010    0
2011    0
2012    0
2013    0
2014    0
2015    0
2016    0
2017    0
2018    0
2019    0
2020    0
2021    0
2022    1
dtype: int64

In [157]:
mobile_pivot2 = pivot(mobile_df2, '국가별', '연도별', '이동전화 가입수(1000명)')
mobile_pivot2.to_excel('/content/drive/MyDrive/이동전화가입자_EDA2.xlsx', index=False)

# 미사용 코드

In [ ]:
# # 데이터 이름 설정 (다중컬럼)
# PersonalIncome_df_test=PersonalIncome_df.copy()
# PersonalIncome_df_test = PersonalIncome_df_test.set_index('국가별')
# expected_columns = pd.MultiIndex.from_product([['1인당 국민총소득'], PersonalIncome_df_test.columns])

# PersonalIncome_df_test.columns = expected_columns

# PersonalIncome_df_test.head()